﻿
@{
    ViewBag.Title = "Customer Email";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Customer Email</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Dashboard"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Export Doc</a></li>
                            <li class="breadcrumb-item"><a href="#!">Customer Email</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>SEARCH</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validation-form123" action="#!" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">COUNTRY</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">CUST.CODE</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">CUSTOMER</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">E-Mail</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">PERSON'S NAME</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">SEND STATUS</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">E-MAIL TYPE</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">POSITION</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">STATUS</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by numeric</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Customer Email</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div class="p-1">
                                <button type="button" class="btn btn-danger" title="ลบรายการ" onclick="Prc_Rm();">ลบรายการ</button>
                                <button id="btnAdd" type="button" class="btn btn-info float-md-right mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">เพิ่มข้อมูล</button>
                                <button type="button" class="btn btn-outline-secondary float-md-right mr-1" title="set cancel" onclick="Prc_Act('Y');">SET CANCEL</button>
                                <button type="button" class="btn btn-outline-warning float-md-right mr-1" title="set active" onclick="Prc_Act('N');">SET ACTIVE</button>
                                <button type="button" class="btn btn-outline-danger float-md-right mr-1" title="set ไม่ส่ง" onclick="Prc_Send('N');">SET ไม่ส่ง</button>
                                <button type="button" class="btn btn-outline-success float-md-right mr-1" title="set ส่ง" onclick="Prc_Send('Y');">SET ส่ง</button>
                            </div>
                            <span class="float-right p-10">แสดงข้อมูล 5 รายการ จากทั้งหมด 5 รายการ</span>
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>#</th>
                                        <th>GROUP</th>
                                        <th>CODE</th>
                                        <th>CUSTOMER</th>
                                        <th>NAME</th>
                                        <th>E-MAIL</th>
                                        <th>POSITION</th>
                                        <th>MAIL TYPE</th>
                                        <th>SEND STATUS</th>
                                        <th>UPDATED DATE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td>0490-20</td>
                                        <td>3001957</td>
                                        <td>บ.มิตซุยแอนด์คัมปนี (ไทยแลนด์) จก.</td>
                                        <td>deetae.sasigorn</td>
                                        <td>deetae.sasigorn@sumitomocorp.co.jp</td>
                                        <td>-</td>
                                        <td>ODS-Document</td>
                                        <td class="text-right"><label class="badge badge-light-danger">ไม่ส่ง</label></td>
                                        <td>13-Jan-12 00:00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>0490-20</td>
                                        <td>3001957</td>
                                        <td>บ.มิตซุยแอนด์คัมปนี (ไทยแลนด์) จก.</td>
                                        <td>deetae.sasigorn</td>
                                        <td>deetae.sasigorn@sumitomocorp.co.jp</td>
                                        <td>-</td>
                                        <td>ODS-Document</td>
                                        <td class="text-right"><label class="badge badge-light-danger">ไม่ส่ง</label></td>
                                        <td>13-Jan-12 00:00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>3</td>
                                        <td>0490-30</td>
                                        <td>3005264</td>
                                        <td>MY SCGT MALAYSIA SDN BHD</td>
                                        <td>tanwarad</td>
                                        <td>tanwarads@syssteel.com</td>
                                        <td>test</td>
                                        <td>ODS-Document</td>
                                        <td class="text-right"><label class="badge badge-light-success">ส่ง</label></td>
                                        <td>15-Jul-14 15:24</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4</td>
                                        <td>0490-20</td>
                                        <td>3001957</td>
                                        <td>บ.มิตซุยแอนด์คัมปนี (ไทยแลนด์) จก.</td>
                                        <td>deetae.sasigorn</td>
                                        <td>deetae.sasigorn@sumitomocorp.co.jp</td>
                                        <td>-</td>
                                        <td>ODS-Document</td>
                                        <td class="text-right"><label class="badge badge-light-danger">ไม่ส่ง</label></td>
                                        <td>13-Jan-12 00:00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>5</td>
                                        <td>0490-20</td>
                                        <td>3001957</td>
                                        <td>บ.มิตซุยแอนด์คัมปนี (ไทยแลนด์) จก.</td>
                                        <td>deetae.sasigorn</td>
                                        <td>deetae.sasigorn@sumitomocorp.co.jp</td>
                                        <td>-</td>
                                        <td>ODS-Document</td>
                                        <td class="text-right"><label class="badge badge-light-danger">ไม่ส่ง</label></td>
                                        <td>13-Jan-12 00:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Base Style table end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>






<!-- Modal -->
<!-- Button trigger modal -->
<!-- Modal -->
@*<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="bt-wizard" id="tabswizard">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="#tabs-t-tab1" class="nav-link rounded-0 has-ripple active" data-toggle="tab">CUSTOMER E-MAIL<span class="ripple ripple-animate" style="height: 74.2812px; width: 74.2812px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(70, 128, 255); opacity: 0.4; top: -22.1328px; left: 15.8672px;"></span></a>
                    </li>
                    <li class="nav-item"><a href="#tabs-t-tab2" class="nav-link rounded-0 has-ripple" data-toggle="tab">REMARK<span class="ripple ripple-animate" style="height: 84.9531px; width: 84.9531px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(70, 128, 255); opacity: 0.4; top: -35.4688px; left: 11.25px;"></span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="pt-1 bg-primary"></div>
                    <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">End Customer</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1 mt-md-4">
                                <button type="button" class="btn  btn-primary mb-2"><i class="feather icon-search"></i></button>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label text-white">.</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group fill">
                                    <label class="form-label">COUNTRY</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group fill">
                                    <label class="form-label">E-MAIL TYPE</label>
                                    <select class="form-control" aria-invalid="false">
                                        <option value="">ทั้งหมด</option>
                                        <option value="xx">xxxxx</option>
                                        <option value="yy">yyyyy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">E-MAIL</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-md-3">
                                    <div class="switch d-inline m-r-10">
                                        <input type="checkbox" class="switcher-input" name="validation-switcher" id="switch-1">
                                        <label for="switch-1" class="cr"></label>
                                    </div>
                                    <label>SEND FLAG</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group fill">
                                    <label class="form-label">Person's Name</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group fill">
                                    <label class="form-label">Position</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane card-body pt-4" id="tabs-t-tab2">
                        <div class="row">
                            <div class="col-md-12 mt-md-4">
                                <div class="form-group mt-md-3">
                                    <div class="switch d-inline m-r-10">
                                        <input type="checkbox" class="switcher-input" name="validation-switcher" id="switch-1">
                                        <label for="switch-1" class="cr"></label>
                                    </div>
                                    <label>CANCEL</label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group fill">
                                    <label class="form-label">Description</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">User Create</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">Create Date</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">:</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">User Update</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">Update Date</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group fill">
                                    <label class="form-label">System.Code</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.CustomerEmail').addClass('active');
            $('Button[id=btnAdd]').click(function () {
                $("#staticBackdropLabel").html("บันทึกข้อมูล");
            });           
        });
</script>

