﻿
@{
    ViewBag.Title = "ODS REPORT AUTHORIZE";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">ODS REPORT AUTHORIZE</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Favorite"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Export Doc</a></li>
                            <li class="breadcrumb-item"><a href="#!">ODS REPORT AUTHORIZE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>SEARCH</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validation-form123" action="#!" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">COUNTRY</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">CUST.CODE</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">CUSTOMER</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">SEND TYPE</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">DRAFT STATUS</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">STATUS</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by numeric</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>ODS REPORT AUTHORIZE</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div class="p-1">
                                <button type="button" class="btn btn-danger" title="ลบรายการ" onclick="Prc_Rm();">ลบรายการ</button>
                                <button id="btnAdd" type="button" class="btn btn-info float-md-right mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">เพิ่มข้อมูล</button>
                                <button type="button" class="btn btn-outline-secondary float-md-right mr-1" title="set cancel" onclick="Prc_Act('Y');">SET NO-DRAFT</button>
                                <button type="button" class="btn btn-outline-warning float-md-right mr-1" title="set active" onclick="Prc_Act('N');">SET DRAFT</button>
                                <button type="button" class="btn btn-outline-danger float-md-right mr-1" title="set ไม่ส่ง" onclick="Prc_Send('N');">SET CANCEL</button>
                                <button type="button" class="btn btn-outline-success float-md-right mr-1" title="set ส่ง" onclick="Prc_Send('Y');">SET ACTIVE</button>
                            </div>
                            <span class="float-right p-10">แสดงข้อมูล 5 รายการ จากทั้งหมด 5 รายการ</span>
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>#</th>
                                        <th>COUNTRY</th>
                                        <th>CODE</th>
                                        <th>CUSTOMER</th>
                                        <th>
                                            ORDER
                                            CONFIRM
                                        </th>
                                        <th>
                                            PROFORMA
                                            INVOICE
                                        </th>
                                        <th>INVOICE</th>
                                        <th>
                                            PACKING
                                            LIST CU.M.
                                        </th>
                                        <th>
                                            PACKING
                                            LIST
                                        </th>
                                        <th>
                                            CERT.OF
                                            THAI.ORIGIN
                                        </th>
                                        <th>
                                            CIDB
                                            LETTER
                                        </th>
                                        <th>FORM NZ</th>
                                        <th>
                                            DRAFT MAIL
                                            /PWD.
                                        </th>
                                        <th>
                                            MAIL
                                            DOC.
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td><label class="badge badge-light-danger">AE-Unit.Arab Emir.</label></td>
                                        <td><label class="badge badge-light-danger">3005321</label></td>
                                        <td><label class="badge badge-light-danger">AGE INTRADE LLC</label></td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <a href="#"><label class="form-label">SAP</label></a>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">BY ORDER</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td><label class="badge badge-light-danger">AE-Unit.Arab Emir.</label></td>
                                        <td><label class="badge badge-light-danger">3017257</label></td>
                                        <td><label class="badge badge-light-danger">AL RAMA INTERNATIONAL TRADERS</label></td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <a href="#"><label class="form-label">SAP</label></a>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">BY ORDER</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>3</td>
                                        <td><label class="badge badge-light-success">AE-Unit.Arab Emir.</label></td>
                                        <td><label class="badge badge-light-success">3005529</label></td>
                                        <td><label class="badge badge-light-success">AL RAS STEEL TRADING FZCO.</label></td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <a href="#"><label class="form-label">SAP</label></a>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">BY ORDER</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>4</td>
                                        <td><label class="badge badge-light-danger">AE-Unit.Arab Emir.</label></td>
                                        <td><label class="badge badge-light-danger">3005321</label></td>
                                        <td><label class="badge badge-light-danger">AGE INTRADE LLC</label></td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <a href="#"><label class="form-label">SAP</label></a>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">BY ORDER</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>5</td>
                                        <td><label class="badge badge-light-danger">AE-Unit.Arab Emir.</label></td>
                                        <td><label class="badge badge-light-danger">3005321</label></td>
                                        <td><label class="badge badge-light-danger">AGE INTRADE LLC</label></td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">Show Price</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="form-group fill">
                                                <a href="#"><label class="form-label">SAP</label></a>
                                            </div>
                                        </td>
                                         <td class="text-center">
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                                    <option value="">BY ORDER</option>
                                                    <option value="xx">xxxxx</option>
                                                    <option value="yy">yyyyy</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Base Style table end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>






<!-- Modal -->
<!-- Button trigger modal -->
<!-- Modal -->
@*<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">*@
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="validation-form123" action="#!" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">SALES</label>
                                <select class="form-control" aria-invalid="false">
                                    <option value="">ทั้งหมด</option>
                                    <option value="xx">xxxxx</option>
                                    <option value="yy">yyyyy</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">CHANNEL CD</label>
                                <select class="form-control" aria-invalid="false">
                                    <option value="">ทั้งหมด</option>
                                    <option value="xx">xxxxx</option>
                                    <option value="yy">yyyyy</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">COUNTRY</label>
                                <select class="form-control" aria-invalid="false">
                                    <option value="">ทั้งหมด</option>
                                    <option value="xx">xxxxx</option>
                                    <option value="yy">yyyyy</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">CUST.CODE</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">NAME</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">ABBRV.</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">NAME.(ENG.)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">ABBRV.(ENG.)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                </form>
                <br />
                <br/>
                <hr/>
                <div class="table-responsive">                   
                    <span class="float-right p-10">แสดงข้อมูล 5 รายการ จากทั้งหมด 5 รายการ</span>
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>GROUP</th>
                                <th>COUNTRY</th>
                                <th>CODE</th>
                                <th>NAME</th>
                                <th>ABBRV.NAME</th>
                                <th>NAME (ENG.)</th>
                                <th>ABBRV.NAME (ENG.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>0180_10</td>
                                <td>TH  - Thailand</td>
                                <td><a href="#" data-toggle="modal" data-target=".aaaa">3001574</a></td>
                                <td>บ. ช.การช่าง จก. (มหาชน) </td>
                                <td>ช.การช่าง</td>
                                <td>บ. ช.การช่าง จก. (มหาชน)</td>
                                <td>ช.การช่าง </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>0180_10</td>
                                <td>TH  - Thailand</td>
                                <td><a href="#" data-toggle="modal" data-target=".aaaa">3001574</a></td>
                                <td>บมจ.อิตาเลียนไทย ดีเวล๊อปเมนต์ </td>
                                <td>อิตาเลียนไทย</td>
                                <td>บมจ.อิตาเลียนไทย ดีเวล๊อปเมนต์ </td>
                                <td>บมจ.อิตาเลียนไทย ดีเวล๊อปเมนต์</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>0180_10</td>
                                <td>TH  - Thailand</td>
                                <td><a href="#" data-toggle="modal" data-target=".aaaa">3001574</a></td>
                                <td>บ. ช.การช่าง จก. (มหาชน) </td>
                                <td>ช.การช่าง</td>
                                <td>บ. ช.การช่าง จก. (มหาชน)</td>
                                <td>ช.การช่าง </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>0180_10</td>
                                <td>TH  - Thailand</td>
                                <td><a href="#" data-toggle="modal" data-target=".aaaa">3001574</a></td>
                                <td>บ. ช.การช่าง จก. (มหาชน) </td>
                                <td>ช.การช่าง</td>
                                <td>บ. ช.การช่าง จก. (มหาชน)</td>
                                <td>ช.การช่าง </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>0180_10</td>
                                <td>TH  - Thailand</td>
                                <td><a href="#" data-toggle="modal" data-target=".aaaa">3001574</a></td>
                                <td>บ. ช.การช่าง จก. (มหาชน) </td>
                                <td>ช.การช่าง</td>
                                <td>บ. ช.การช่าง จก. (มหาชน)</td>
                                <td>ช.การช่าง </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg aaaa" tabindex="-1" role="dialog" aria-labelledby="TitleLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TitleLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>COUNTRY</th>
                                <th>CODE</th>
                                <th>CUSTOMER</th>
                                <th>
                                    ORDER
                                    CONFIRM
                                </th>
                                <th>
                                    PROFORMA
                                    INVOICE
                                </th>
                                <th>INVOICE</th>
                                <th>
                                    PACKING
                                    LIST CU.M.
                                </th>
                                <th>
                                    PACKING
                                    LIST
                                </th>
                                <th>
                                    CERT.OF
                                    THAI.ORIGIN
                                </th>
                                <th>
                                    CIDB
                                    LETTER
                                </th>
                                <th>FORM NZ</th>
                                <th>
                                    DRAFT MAIL
                                    /PWD.
                                </th>
                                <th>
                                    MAIL
                                    DOC.
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label class="badge badge-light-success">TH-Thailand</label></td>
                                <td><label class="badge badge-light-success">3001574</label></td>
                                <td><label class="badge badge-light-success">บ. ช.การช่าง จก. (มหาชน)</label></td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">Show Price</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                    <div class="form-group fill">
                                        <a href="#"><label class="form-label">SAP</label></a>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="form-group fill">
                                        <select class="form-control" aria-invalid="false" style="font-size: 10px;">
                                            <option value="">BY ORDER</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {        
        $('.OdsReportAuthorize').addClass('active');
        $('Button[id=btnAdd]').click(function () {
            $("#TitleLabel").html("เพิ่มข้อมูล");
            $("#staticBackdropLabel").html("SELECT CUSTOMER");
        });
    });
</script>


