﻿
@{
    ViewBag.Title = "Scrap Return Master";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Mail Log</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Favorite"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Export Doc</a></li>
                            <li class="breadcrumb-item"><a href="#!">Mail Log</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>SEARCH</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validation-form123" action="#!" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">YEAR</label>
                                        <select aria-invalid="false" class="form-control"><option value="ALL">All</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">MONTH</label>
                                        <select class="form-control" aria-invalid="false"><option value="ALL">ทั้งหมด</option><option value="01">01 - มกราคม</option><option value="02">02 - กุมภาพันธ์</option><option value="03">03 - มีนาคม</option><option value="04">04 - เมษายน</option><option value="05">05 - พฤษภาคม</option><option value="06">06 - มิถุนายน</option><option value="07">07 - กรกฏาคม</option><option value="08">08 - สิงหาคม</option><option value="09">09 - กันยายน</option><option value="10">10 - ตุลาคม</option><option value="11">11 - พฤศจิกายน</option><option value="12">12 - ธันวาคม</option></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">SYSTEM CODE</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">PLANT</label>
                                        <select class="form-control" aria-invalid="false"><option value="ALL">ทั้งหมด</option><option value="4911_4931">SYS1+SYS2</option><option value="4951">BDC-บ้านบึง</option><option value="4941">SOL-SYS Solution</option><option value="4921">SR-ศรีราชา</option><option value="4911">SYS1-ระยอง1</option><option value="4931">SYS2-ระยอง2</option></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">ค้นหาโดย</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by numeric</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="a.Amount">QTY (TON)</option>
                                            <option value="a.Amount1">CP </option>
                                            <option value="a.Amount2">EXW </option>
                                            <option value="a.Amount3">COST </option>
                                            <option value="a.Amount4">CONT </option>
                                            <option value="a.Amount5">METAL MARGIN </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">เงื่อนไข</label>
                                        <select class="form-control" aria-invalid="false"><option value="NONE">None</option><option value="AT">At</option><option value="BETWEEN">Between</option><option value="LT">Less than</option><option value="LTEQ">Less than or equal</option><option value="MONTHAT">At Month</option><option value="MONTHBW">Between Month</option><option value="MT">More than</option><option value="MTEQ">More than or equal</option><option value="QUARTERAT">At Quater</option><option value="QUATERBW">Between Quater</option><option value="YEARAT">At Year</option><option value="YEARBW">Between Year</option></select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="NONE">None</option>
                                            <option value="AT">At</option>
                                            <option value="BETWEEN">Between</option>
                                            <option value="LT">Less than</option>
                                            <option value="LTEQ">Less than or equal</option>
                                            <option value="MT">More than</option>
                                            <option value="MTEQ">More than or equal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Mail Log</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-1">
                            <button type="button" class="btn btn-danger" title="ลบรายการ" onclick="Prc_Rm();">ลบรายการ</button>
                            <button id="btnAdd" type="button" class="btn btn-info float-md-right mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">+SCRAP</button>
                        </div>
                        <div class="table-responsive">
                            <span class="float-right p-10">แสดงข้อมูล 0 รายการ จากทั้งหมด 0 รายการ</span>
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>#</th>
                                        <th>TYPE</th>
                                        <th>DOC.ID</th>
                                        <th>CUSTOMER</th>
                                        <th>ORDER#</th>
                                        <th>REF.ID</th>
                                        <th>TR</th>
                                        <th>DATE</th>
                                        <th>USER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="10" class="text-center">
                                            <label>No Data</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Base Style table end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">YEAR</label>
                                <select aria-invalid="false" class="form-control"><option value="ALL">All</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option></select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">MONTH</label>
                                <select class="form-control" aria-invalid="false"><option value="ALL">ทั้งหมด</option><option value="01">01 - มกราคม</option><option value="02">02 - กุมภาพันธ์</option><option value="03">03 - มีนาคม</option><option value="04">04 - เมษายน</option><option value="05">05 - พฤษภาคม</option><option value="06">06 - มิถุนายน</option><option value="07">07 - กรกฏาคม</option><option value="08">08 - สิงหาคม</option><option value="09">09 - กันยายน</option><option value="10">10 - ตุลาคม</option><option value="11">11 - พฤศจิกายน</option><option value="12">12 - ธันวาคม</option></select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group fill">
                                <label class="form-label">PLANT</label>
                                <select class="form-control" aria-invalid="false"><option value="ALL">ทั้งหมด</option><option value="4911_4931">SYS1+SYS2</option><option value="4951">BDC-บ้านบึง</option><option value="4941">SOL-SYS Solution</option><option value="4921">SR-ศรีราชา</option><option value="4911">SYS1-ระยอง1</option><option value="4931">SYS2-ระยอง2</option></select>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group fill">
                                <button type="button" class="btn btn-success has-ripple mt-4">+SCRAP</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="chk-option">
                                            <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-label mt-2"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th>#</th>
                                    <th>YR-MTH</th>
                                    <th>PLANT</th>
                                    <th>SCRAP RATE</th>
                                    <th>INVOICE</th>
                                    <th>REMARK</th>
                                    <th>UPDATED BY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="8" class="text-center"><label >No Data.</label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.ScrapReturnMaster').addClass('active');      
        $('Button[id=btnAdd]').click(function () {
            $("#staticBackdropLabel").html("บันทึกข้อมูล");
        });
    });
</script>

