﻿

@{
    ViewBag.Title = "Vessl Type";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Vessl Agent</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Favorite"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Export Doc</a></li>
                            <li class="breadcrumb-item"><a href="#!">Schedule Shipment</a></li>
                            <li class="breadcrumb-item"><a href="#!">Vessl Type</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>SEARCH</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validation-form123" action="#!" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group fill">
                                        <label class="form-label">VESSEL TYPE CODE</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group fill">
                                        <label class="form-label">VESSEL TYPE NAME</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by numeric</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Vessl Type</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-1">
                            <button type="button" class="btn btn-danger" title="ลบรายการ" onclick="Prc_Rm();">ลบรายการ</button>
                            <button id="btnAdd" type="button" class="btn btn-info float-md-right mr-1" data-toggle="modal" >เพิ่มข้อมูล</button>
                        </div>
                        <div class="table-responsive">
                            <span class="float-right p-10">แสดงข้อมูล 0 รายการ จากทั้งหมด 0 รายการ</span>
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>#</th>
                                        <th>CODE</th>
                                        <th>DESCRIPTION</th>
                                        <th>UPDATED BY</th>
                                        <th>UPDATED DATE</th>
                                        <th>SYSTEM CODE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            <label>No Data</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Base Style table end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group fill">
                            <label class="form-label">CODE</label>
                            <input type="text" class="form-control" value="V0054" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group fill">
                            <label class="form-label">ADDRESS</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group fill">
                            <label class="form-label">CONTACT </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group fill">
                            <label class="form-label">TYPE </label>
                            <select class="form-control" aria-invalid="false"><option value="SHIP">Shipment Agent</option><option value="VESSEL">Vessel Agent</option><option value="LOVESSEL">Local Agent</option></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group fill">
                            <label class="form-label">COUNTRY</label>
                            <select class="form-control" aria-invalid="false"><option value="NON">None</option><option value="AE">AE-Unit.Arab Emir.</option><option value="AL">AL-Albania</option><option value="AR">AR-Argentina</option><option value="AS">AS-Samoa American</option><option value="AT">AT-Austria</option><option value="AU">AU-Australia</option><option value="BA">BA-Bosnia and Herzegovina</option><option value="BD">BD-Bangladesh</option><option value="BE">BE-Belgium</option><option value="BG">BG-Bulgaria</option><option value="BH">BH-Bahrain</option><option value="BN">BN-Brunei</option><option value="BR">BR-Brazil</option><option value="BY">BY-Byelorussia</option><option value="CA">CA-Canada</option><option value="CD">CD-Congo</option><option value="CI">CI-Cote d' lvoire</option><option value="CL">CL-Chile</option><option value="CN">CN-China</option><option value="CO">CO-Colombia</option><option value="CR">CR-Costa Rica</option><option value="CU">CU-Cuba</option><option value="CZ">CZ-CZECH REPUBLIC</option><option value="DE">DE-Germany</option><option value="DK">DK-DENMARK</option><option value="DM">DM-Dominican Repubilic</option><option value="DZ">DZ-Algeria</option><option value="EC">EC-Ecuador</option><option value="EE">EE-ESTONIA</option><option value="EG">EG-EGYPT</option><option value="ER">ER-Eritrea</option><option value="ES">ES-SPAIN</option><option value="ET">ET-ETHlopia</option><option value="FI">FI-FINLAND</option><option value="FJ">FJ-Fiji</option><option value="FR">FR-France</option><option value="GB">GB-Grate Britain</option><option value="GE">GE-Georgia</option><option value="GH">GH-Ghana</option><option value="GR">GR-GREECE</option><option value="GT">GT-Guatemala</option><option value="HK">HK-Hong Kong</option><option value="HN">HN-honduras</option><option value="HR">HR-Croatia</option><option value="HU">HU-HUNGARY</option><option value="ID">ID-Indonesia</option><option value="IL">IL-ISRAEL</option><option value="IN">IN-India</option><option value="IQ">IQ-IRAQ</option><option value="IR">IR-IRAN</option><option value="IT">IT-Italy</option><option value="JM">JM-Jamaica</option><option value="JO">JO-JORDAN</option><option value="JP">JP-Japan</option><option value="KE">KE-Kenya</option><option value="KH">KH-Cambodia</option><option value="KP">KP-North Korea</option><option value="KR">KR-South Korea</option><option value="KW">KW-KUWAIT</option><option value="LA">LA-Laos</option><option value="LB">LB-LEBANON</option><option value="LK">LK-Sri Lanka</option><option value="LU">LU-LUXEMBOURG</option><option value="LV">LV-LATVIA</option><option value="LY">LY-LIBYA</option><option value="MA">MA-MOROCCO</option><option value="MG">MG-Madagascar</option><option value="MK">MK-FYR Macedonia</option><option value="MM">MM-Myanmar</option><option value="MU">MU-Mauritius</option><option value="MV">MV-Maldives</option><option value="MX">MX-Mexico</option><option value="MY">MY-Malaysia</option><option value="MZ">MZ-Mozambique</option><option value="NC">NC-New Caledonia</option><option value="NG">NG-Nigeria</option><option value="NI">NI-Nicaragua</option><option value="NL">NL-NETHERLANDS</option><option value="NM">NM-Noumea</option><option value="NO">NO-Norway</option><option value="NZ">NZ-New Zealand</option><option value="OM">OM-OMAN</option><option value="PE">PE-Peru</option><option value="PG">PG-Papua Nw Guinea</option><option value="PH">PH-Philippines</option><option value="PK">PK-Pakistan</option><option value="PL">PL-POLAND</option><option value="PR">PR-Puerto Rico</option><option value="PT">PT-PORTUGAL</option><option value="PY">PY-Paraguay</option><option value="QA">QA-Qatar</option><option value="RM">RM-Sebia and Montenego</option><option value="RO">RO-ROMANIA</option><option value="RU">RU-Russia</option><option value="SA">SA-Saudi Arabia</option><option value="SB">SB-Solomon Islands</option><option value="SE">SE-SWEDEN</option><option value="SF">SF-South Africa</option><option value="SG">SG-Singapore</option><option value="SI">SI-SLOVENIA</option><option value="SK">SK-SLOVAKIA</option><option value="SL">SL-Sierra leone</option><option value="SN">SN-Senegal</option><option value="SU">SU-Samoa</option><option value="SV">SV-El salvalor</option><option value="SY">SY-SYRIA</option><option value="SZ">SZ-Switzerland</option><option value="TH">TH-Thailand</option><option value="TN">TN-TUNISIA</option><option value="TR">TR-Turkey</option><option value="TT">TT-Trinidad and tobago</option><option value="TW">TW-Taiwan</option><option value="TZ">TZ-Tanzania</option><option value="UA">UA-Ukraine</option><option value="UK">UK-United Kingdom</option><option value="US">US-United state</option><option value="UY">UY-Uruguay</option><option value="UZ">UZ-Uzbekistan</option><option value="VE">VE-Venezuela</option><option value="VN">VN-Vietnam</option><option value="VU">VU-Vanuatu</option><option value="WS">WS-Western Samoa</option><option value="YE">YE-Yemen</option><option value="ZA">ZA-South Africa</option><option value="ZW">ZW-Zimbabwe</option></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group fill">
                            <label class="form-label">UPDATED DATE </label>
                            <input type="text" class="form-control" value="@DateTime.Now.ToString("dd-MM-yy HH:mm")" disabled="disabled">
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
                @*<button type="button" class="btn btn-primary">SAVE AS</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.VesslType').addClass('active');
        $('Button[id=btnAdd]').click(function () {
            //$("#staticBackdropLabel").html("VESSL");
            alert("There was a problem with the request.");
        });
    });
</script>


