﻿@{
    ViewBag.Title = "Favorite";
}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Favorite</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="http://ableproadmin.com/bootstrap/default/index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="http://ableproadmin.com/bootstrap/default/index.html#!">Favorite</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->

        <div class="row">
            <div class="col-lg-7 col-md-12">
                <!-- support-section start -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <h2 class="m-0">350</h2>
                                <span class="text-c-blue">Support Requests</span>
                                <p class="mb-3 mt-3">Total number of support requests that come in.</p>
                            </div>
                            <div id="support-chart" style="min-height: 80px;"><div id="apexchartsx8iisis7g" class="apexcharts-canvas apexchartsx8iisis7g apexcharts-theme-light" style="width: 452px; height: 80px;"><svg id="SvgjsSvg1006" width="452" height="80" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1008" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1007"><clippath id="gridRectMaskx8iisis7g"><rect id="SvgjsRect1013" width="458" height="82" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clippath><clippath id="gridRectMarkerMaskx8iisis7g"><rect id="SvgjsRect1014" width="456" height="84" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clippath><lineargradient id="SvgjsLinearGradient1020" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1021" stop-opacity="0.65" stop-color="rgba(70,128,255,0.65)" offset="0"></stop><stop id="SvgjsStop1022" stop-opacity="0.5" stop-color="rgba(163,192,255,0.5)" offset="1"></stop><stop id="SvgjsStop1023" stop-opacity="0.5" stop-color="rgba(163,192,255,0.5)" offset="1"></stop></lineargradient></defs><line id="SvgjsLine1012" x1="0" y1="0" x2="0" y2="80" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="80" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1026" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1027" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1029" class="apexcharts-grid"><g id="SvgjsG1030" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1032" x1="0" y1="0" x2="452" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1033" x1="0" y1="13.333333333333334" x2="452" y2="13.333333333333334" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1034" x1="0" y1="26.666666666666668" x2="452" y2="26.666666666666668" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1035" x1="0" y1="40" x2="452" y2="40" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1036" x1="0" y1="53.333333333333336" x2="452" y2="53.333333333333336" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1037" x1="0" y1="66.66666666666667" x2="452" y2="66.66666666666667" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1038" x1="0" y1="80" x2="452" y2="80" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1031" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1040" x1="0" y1="80" x2="452" y2="80" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1039" x1="0" y1="1" x2="0" y2="80" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1016" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1017" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1024" d="M0 80L0 80C19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C132.775 66.66666666666667 149.725 20 169.5 20C189.275 20 206.225 40 226 40C245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C358.775 53.33333333333333 375.725 40 395.5 40C415.275 40 432.225 80 452 80C452 80 452 80 452 80M452 80C452 80 452 80 452 80 " fill="url(#SvgjsLinearGradient1020)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskx8iisis7g)" pathTo="M 0 80L 0 80C 19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C 76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C 132.775 66.66666666666667 149.725 20 169.5 20C 189.275 20 206.225 40 226 40C 245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C 302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C 358.775 53.33333333333333 375.725 40 395.5 40C 415.275 40 432.225 80 452 80C 452 80 452 80 452 80M 452 80z" pathFrom="M -1 80L -1 80L 56.5 80L 113 80L 169.5 80L 226 80L 282.5 80L 339 80L 395.5 80L 452 80"></path><path id="SvgjsPath1025" d="M0 80C19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C132.775 66.66666666666667 149.725 20 169.5 20C189.275 20 206.225 40 226 40C245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C358.775 53.33333333333333 375.725 40 395.5 40C415.275 40 432.225 80 452 80C452 80 452 80 452 80 " fill="none" fill-opacity="1" stroke="#4680ff" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskx8iisis7g)" pathTo="M 0 80C 19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C 76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C 132.775 66.66666666666667 149.725 20 169.5 20C 189.275 20 206.225 40 226 40C 245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C 302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C 358.775 53.33333333333333 375.725 40 395.5 40C 415.275 40 432.225 80 452 80" pathFrom="M -1 80L -1 80L 56.5 80L 113 80L 169.5 80L 226 80L 282.5 80L 339 80L 395.5 80L 452 80"></path><g id="SvgjsG1018" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1046" r="0" cx="0" cy="0" class="apexcharts-marker wnoutfrah no-pointer-events" stroke="#ffffff" fill="#4680ff" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1019" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1041" x1="0" y1="0" x2="452" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1042" x1="0" y1="0" x2="452" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1043" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1044" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1045" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1011" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1028" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1009" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip apexcharts-theme-light"><div class="apexcharts-tooltip-series-group"><span class="apexcharts-tooltip-marker" style="background-color: rgb(70, 128, 255);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label"></span><span class="apexcharts-tooltip-text-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                            <div class="card-footer bg-primary text-white">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0 text-white">10</h4>
                                        <span>Open</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0 text-white">5</h4>
                                        <span>Running</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0 text-white">3</h4>
                                        <span>Solved</span>
                                    </div>
                                </div>
                            </div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 453px; height: 285px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card support-bar overflow-hidden">
                            <div class="card-body pb-0">
                                <h2 class="m-0">350</h2>
                                <span class="text-c-green">Support Requests</span>
                                <p class="mb-3 mt-3">Total number of support requests that come in.</p>
                            </div>
                            <div id="support-chart1" style="min-height: 80px;"><div id="apexchartswv9exog6" class="apexcharts-canvas apexchartswv9exog6 apexcharts-theme-light" style="width: 452px; height: 80px;"><svg id="SvgjsSvg1047" width="452" height="80" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1049" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1048"><clippath id="gridRectMaskwv9exog6"><rect id="SvgjsRect1054" width="458" height="82" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clippath><clippath id="gridRectMarkerMaskwv9exog6"><rect id="SvgjsRect1055" width="456" height="84" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clippath><lineargradient id="SvgjsLinearGradient1061" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1062" stop-opacity="0.65" stop-color="rgba(156,204,101,0.65)" offset="0"></stop><stop id="SvgjsStop1063" stop-opacity="0.5" stop-color="rgba(206,230,178,0.5)" offset="1"></stop><stop id="SvgjsStop1064" stop-opacity="0.5" stop-color="rgba(206,230,178,0.5)" offset="1"></stop></lineargradient></defs><line id="SvgjsLine1053" x1="169" y1="0" x2="169" y2="80" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="169" y="0" width="1" height="80" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1067" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1068" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1070" class="apexcharts-grid"><g id="SvgjsG1071" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1073" x1="0" y1="0" x2="452" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1074" x1="0" y1="13.333333333333334" x2="452" y2="13.333333333333334" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1075" x1="0" y1="26.666666666666668" x2="452" y2="26.666666666666668" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1076" x1="0" y1="40" x2="452" y2="40" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1077" x1="0" y1="53.333333333333336" x2="452" y2="53.333333333333336" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1078" x1="0" y1="66.66666666666667" x2="452" y2="66.66666666666667" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1079" x1="0" y1="80" x2="452" y2="80" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1072" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1081" x1="0" y1="80" x2="452" y2="80" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1080" x1="0" y1="1" x2="0" y2="80" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1057" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1058" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1065" d="M0 80L0 80C19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C132.775 66.66666666666667 149.725 20 169.5 20C189.275 20 206.225 40 226 40C245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C358.775 53.33333333333333 375.725 40 395.5 40C415.275 40 432.225 80 452 80C452 80 452 80 452 80M452 80C452 80 452 80 452 80 " fill="url(#SvgjsLinearGradient1061)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskwv9exog6)" pathTo="M 0 80L 0 80C 19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C 76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C 132.775 66.66666666666667 149.725 20 169.5 20C 189.275 20 206.225 40 226 40C 245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C 302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C 358.775 53.33333333333333 375.725 40 395.5 40C 415.275 40 432.225 80 452 80C 452 80 452 80 452 80M 452 80z" pathFrom="M -1 80L -1 80L 56.5 80L 113 80L 169.5 80L 226 80L 282.5 80L 339 80L 395.5 80L 452 80"></path><path id="SvgjsPath1066" d="M0 80C19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C132.775 66.66666666666667 149.725 20 169.5 20C189.275 20 206.225 40 226 40C245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C358.775 53.33333333333333 375.725 40 395.5 40C415.275 40 432.225 80 452 80C452 80 452 80 452 80 " fill="none" fill-opacity="1" stroke="#9ccc65" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskwv9exog6)" pathTo="M 0 80C 19.775 80 36.725 53.33333333333333 56.5 53.33333333333333C 76.275 53.33333333333333 93.225 66.66666666666667 113 66.66666666666667C 132.775 66.66666666666667 149.725 20 169.5 20C 189.275 20 206.225 40 226 40C 245.775 40 262.725 6.666666666666671 282.5 6.666666666666671C 302.275 6.666666666666671 319.225 53.33333333333333 339 53.33333333333333C 358.775 53.33333333333333 375.725 40 395.5 40C 415.275 40 432.225 80 452 80" pathFrom="M -1 80L -1 80L 56.5 80L 113 80L 169.5 80L 226 80L 282.5 80L 339 80L 395.5 80L 452 80"></path><g id="SvgjsG1059" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1087" r="0" cx="169.5" cy="20" class="apexcharts-marker whn9ync19 no-pointer-events" stroke="#ffffff" fill="#9ccc65" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1060" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1082" x1="0" y1="0" x2="452" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1083" x1="0" y1="0" x2="452" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1084" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1085" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1086" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1052" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1069" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1050" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip apexcharts-theme-light" style="left: 180.5px; top: 23px;"><div class="apexcharts-tooltip-series-group apexcharts-active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(156, 204, 101); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Ticket : </span><span class="apexcharts-tooltip-text-value">45</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
                            <div class="card-footer bg-success text-white">
                                <div class="row text-center">
                                    <div class="col">
                                        <h4 class="m-0 text-white">10</h4>
                                        <span>Open</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0 text-white">5</h4>
                                        <span>Running</span>
                                    </div>
                                    <div class="col">
                                        <h4 class="m-0 text-white">3</h4>
                                        <span>Solved</span>
                                    </div>
                                </div>
                            </div>
                            <div class="resize-triggers"><div class="expand-trigger"><div style="width: 453px; height: 285px;"></div></div><div class="contract-trigger"></div></div>
                        </div>
                    </div>
                </div>
                <!-- support-section end -->
            </div>
            <div class="col-lg-5 col-md-12">
                <!-- page statustic card start -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-yellow">$30200</h4>
                                        <h6 class="text-muted m-b-0">All Earnings</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="feather icon-bar-chart-2 f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-yellow">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="feather icon-trending-up text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-green">290+</h4>
                                        <h6 class="text-muted m-b-0">Page Views</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="feather icon-file-text f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-green">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="feather icon-trending-up text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-red">145</h4>
                                        <h6 class="text-muted m-b-0">Task</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="feather icon-calendar f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-red">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="feather icon-trending-down text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h4 class="text-c-blue">500</h4>
                                        <h6 class="text-muted m-b-0">Downloads</h6>
                                    </div>
                                    <div class="col-4 text-right">
                                        <i class="feather icon-thumbs-down f-28"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-c-blue">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">% change</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="feather icon-trending-down text-white f-16"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- page statustic card end -->
            </div>
            <!-- prject ,team member start -->
            <div class="col-xl-6 col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Projects</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            Assigned
                                        </th>
                                        <th>Name</th>
                                        <th>Due Date</th>
                                        <th class="text-right">Priority</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="d-inline-block align-middle">
                                                <img src="vendor/images/avatar-4.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                                                <div class="d-inline-block">
                                                    <h6>John Deo</h6>
                                                    <p class="text-muted m-b-0">Graphics Designer</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Able Pro</td>
                                        <td>Jun, 26</td>
                                        <td class="text-right"><label class="badge badge-light-danger">Low</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="d-inline-block align-middle">
                                                <img src="vendor/images/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                                                <div class="d-inline-block">
                                                    <h6>Jenifer Vintage</h6>
                                                    <p class="text-muted m-b-0">Web Designer</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Mashable</td>
                                        <td>March, 31</td>
                                        <td class="text-right"><label class="badge badge-light-primary">high</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="d-inline-block align-middle">
                                                <img src="vendor/images/avatar-3.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                                                <div class="d-inline-block">
                                                    <h6>William Jem</h6>
                                                    <p class="text-muted m-b-0">Developer</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Flatable</td>
                                        <td>Aug, 02</td>
                                        <td class="text-right"><label class="badge badge-light-success">medium</label></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                            <div class="d-inline-block align-middle">
                                                <img src="vendor/images/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                                                <div class="d-inline-block">
                                                    <h6>David Jones</h6>
                                                    <p class="text-muted m-b-0">Developer</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Guruable</td>
                                        <td>Sep, 22</td>
                                        <td class="text-right"><label class="badge badge-light-primary">high</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card latest-update-card">
                    <div class="card-header">
                        <h5>Latest Updates</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="latest-update-box">
                            <div class="row p-t-30 p-b-30">
                                <div class="col-auto text-right update-meta">
                                    <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
                                    <i class="feather icon-twitter bg-twitter update-icon"></i>
                                </div>
                                <div class="col">
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!">
                                        <h6>+ 1652 Followers</h6>
                                    </a>
                                    <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
                                </div>
                            </div>
                            <div class="row p-b-30">
                                <div class="col-auto text-right update-meta">
                                    <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
                                    <i class="feather icon-briefcase bg-c-red update-icon"></i>
                                </div>
                                <div class="col">
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!">
                                        <h6>+ 5 New Products were added!</h6>
                                    </a>
                                    <p class="text-muted m-b-0">Congratulations!</p>
                                </div>
                            </div>
                            <div class="row p-b-0">
                                <div class="col-auto text-right update-meta">
                                    <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
                                    <i class="feather icon-facebook bg-facebook update-icon"></i>
                                </div>
                                <div class="col">
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!">
                                        <h6>+1 Friend Requests</h6>
                                    </a>
                                    <p class="text-muted m-b-10">This is great, keep it up!</p>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td class="b-none">
                                                        <a href="http://ableproadmin.com/bootstrap/default/index.html#!" class="align-middle">
                                                            <img src="vendor/images/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                                                            <div class="d-inline-block">
                                                                <h6>Jeny William</h6>
                                                                <p class="text-muted m-b-0">Graphic Designer</p>
                                                            </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="http://ableproadmin.com/bootstrap/default/index.html#!" class="b-b-primary text-primary">View all Projects</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- prject ,team member start -->
            
            <!-- Latest Customers start -->
            <div class="col-lg-8 col-md-12">
                <div class="card table-card review-card">
                    <div class="card-header borderless ">
                        <h5>Customer Reviews</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="review-block">
                            <div class="row">
                                <div class="col-sm-auto p-r-0">
                                    <img src="vendor/images/avatar-2.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                </div>
                                <div class="col">
                                    <h6 class="m-b-15">John Deo <span class="float-right f-13 text-muted"> a week ago</span></h6>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <p class="m-t-15 m-b-15 text-muted">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                        took a
                                        galley of type and scrambled it to make a type specimen book.
                                    </p>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-edit text-muted"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-auto p-r-0">
                                    <img src="vendor/images/avatar-4.jpg" alt="user image" class="img-radius profile-img cust-img m-b-15">
                                </div>
                                <div class="col">
                                    <h6 class="m-b-15">Allina D’croze <span class="float-right f-13 text-muted"> a week ago</span></h6>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star-on f-18 text-c-yellow"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-star f-18 text-muted"></i></a>
                                    <p class="m-t-15 m-b-15 text-muted">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                        took a
                                        galley of type and scrambled it to make a type specimen book.
                                    </p>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!" class="m-r-30 text-muted"><i class="feather icon-thumbs-up m-r-15"></i>Helpful?</a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-heart-on text-c-red m-r-15"></i></a>
                                    <a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-edit text-muted"></i></a>
                                    <blockquote class="blockquote m-t-15 m-b-0">
                                        <h6>Allina D’croze</h6>
                                        <p class="m-b-0 text-muted">Lorem Ipsum is simply dummy text of the industry.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="text-right  m-r-20">
                            <a href="http://ableproadmin.com/bootstrap/default/index.html#!" class="b-b-primary text-primary">View all Customer Reviews</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card chat-card">
                    <div class="card-header">
                        <h5>Chat</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="http://ableproadmin.com/bootstrap/default/index.html#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row m-b-20 received-chat">
                            <div class="col-auto p-r-0">
                                <img src="vendor/images/avatar-2.jpg" alt="user image" class="img-radius wid-40">
                            </div>
                            <div class="col">
                                <div class="msg">
                                    <p class="m-b-0">Nice to meet you!</p>
                                </div>
                                <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
                            </div>
                        </div>
                        <div class="row m-b-20 send-chat">
                            <div class="col">
                                <div class="msg">
                                    <p class="m-b-0">Nice to meet you!</p>
                                </div>
                                <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
                            </div>
                            <div class="col-auto p-l-0">
                                <img src="vendor/images/avatar-3.jpg" alt="user image" class="img-radius wid-40">
                            </div>
                        </div>
                        <div class="row m-b-20 received-chat">
                            <div class="col-auto p-r-0">
                                <img src="vendor/images/avatar-2.jpg" alt="user image" class="img-radius wid-40">
                            </div>
                            <div class="col">
                                <div class="msg">
                                    <p class="m-b-0">Nice to meet you!</p>
                                    <img src="vendor/images/dashborad-1.jpg" alt="">
                                    <img src="vendor/images/dashborad-3.jpg" alt="">
                                </div>
                                <p class="text-muted m-b-0"><i class="fa fa-clock-o m-r-10"></i>10:20am</p>
                            </div>
                        </div>
                        <div class="form-group m-t-15">
                            <label class="floating-label" for="Project">Send message</label>
                            <input type="text" name="task-insert" class="form-control" id="Project">
                            <div class="form-icon">
                                <button class="btn btn-primary btn-icon">
                                    <i class="feather icon-message-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card user-card2">
                    <div class="card-body text-center">
                        <h6 class="m-b-15">Project Risk</h6>
                        <div class="risk-rate">
                            <span><b>5</b></span>
                        </div>
                        <h6 class="m-b-10 m-t-10">Balanced</h6>
                        <a href="http://ableproadmin.com/bootstrap/default/index.html#!" class="text-c-green b-b-success">Change Your Risk</a>
                        <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                            <div class="col m-t-15 b-r-default">
                                <h6 class="text-muted">Nr</h6>
                                <h6>AWS 2455</h6>
                            </div>
                            <div class="col m-t-15">
                                <h6 class="text-muted">Created</h6>
                                <h6>30th Sep</h6>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success btn-block">Download Overall Report</button>
                </div>
            </div>
            <!-- Latest Customers end -->
        </div>


        <!-- [ Main Content ] end -->


    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('li[class=dashboard]').addClass('active');   

        //$('linav-item .dashboard').addClass('active');        
    });
</script>