﻿

@{
    ViewBag.Title = "SECTION MASTER";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">SECTION MASTER</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Favorite"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">PN MASTER</a></li>
                            <li class="breadcrumb-item"><a href="#!">PRODUCT MASTER</a></li>
                            <li class="breadcrumb-item"><a href="#!">SECTION MASTER</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>SEARCH</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validation-form123" action="#!" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">CODE</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">DESC</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">DESC 1</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by</label>
                                        <select class="form-control" aria-invalid="false"><option value="a.CreateDt">Create date</option><option value="a.UpdateDt">Update date</option></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select onchange="displaydata(this);" class="form-control" aria-invalid="false"><option value="NONE">None</option><option value="AT">At</option><option value="BETWEEN">Between</option><option value="LT">Less than</option><option value="LTEQ">Less than or equal</option><option value="MONTHAT">At Month</option><option value="MONTHBW">Between Month</option><option value="MT">More than</option><option value="MTEQ">More than or equal</option><option value="QUARTERAT">At Quater</option><option value="QUATERBW">Between Quater</option><option value="YEARAT">At Year</option><option value="YEARBW">Between Year</option></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by numeric</label>
                                        <select class="form-control" aria-invalid="false"><option value="NONE">None</option></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select onchange="displaydata2(this);" class="form-control" aria-invalid="false"><option value="NONE">None</option><option value="AT">At</option><option value="BETWEEN">Between</option><option value="LT">Less than</option><option value="LTEQ">Less than or equal</option><option value="MT">More than</option><option value="MTEQ">More than or equal</option></select>
                                    </div>
                                </div>
                                <script>
                                    function displaydata2(el) {
                                        var chk = el.value;

                                        $("#div31").addClass("d-none").removeClass("d-block");
                                        $("#div32").addClass("d-none").removeClass("d-block");
                                        if (chk == "BETWEEN") {
                                            $("#div31").addClass("d-block").removeClass("d-none");
                                            $("#div32").addClass("d-block").removeClass("d-none");
                                        } 
                                        if (chk == "AT" || chk == "LT" || chk == "LTEQ" || chk == "MT" || chk == "MTEQ") {
                                            $("#div31").addClass("d-block").removeClass("d-none");
                                        }
                                    }

                                    function displaydata(el) {
                                        //console.log(el); return;
                                        //var id = $(el).parent().attr("data-id");
                                        $("#div11").addClass("d-none").removeClass("d-block");
                                        $("#div12").addClass("d-none").removeClass("d-block");
                                        $("#div13").addClass("d-none").removeClass("d-block");
                                        $("#div14").addClass("d-none").removeClass("d-block");
                                        $("#div15").addClass("d-none").removeClass("d-block");

                                        $("#div21").addClass("d-none").removeClass("d-block");
                                        $("#div22").addClass("d-none").removeClass("d-block");
                                        $("#div23").addClass("d-none").removeClass("d-block");
                                        $("#div24").addClass("d-none").removeClass("d-block");
                                        $("#div25").addClass("d-none").removeClass("d-block");
                                        var chk = el.value;
                                        if (chk == "AT" || chk == "LT" || chk == "LTEQ" || chk == "MT" || chk == "MTEQ" ) {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div14").addClass("d-block").removeClass("d-none");                                           
                                        }
                                        if (chk == "BETWEEN") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div14").addClass("d-block").removeClass("d-none");
                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div24").addClass("d-block").removeClass("d-none");
                                        }
                                        if (chk == "MONTHAT") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div15").addClass("d-block").removeClass("d-none");
                                            
                                        }
                                        if (chk == "MONTHBW") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div15").addClass("d-block").removeClass("d-none");

                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div22").addClass("d-block").removeClass("d-none");
                                            $("#div25").addClass("d-block").removeClass("d-none");
                                        }
                                        if (chk == "QUARTERAT") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div13").addClass("d-block").removeClass("d-none");

                                        }
                                        if (chk == "QUATERBW") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div13").addClass("d-block").removeClass("d-none");

                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div22").addClass("d-block").removeClass("d-none");
                                            $("#div23").addClass("d-block").removeClass("d-none");

                                        }
                                        if (chk == "YEARAT") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");

                                        }
                                        if (chk == "YEARBW") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div22").addClass("d-block").removeClass("d-none");
                                        }
                                        
                                    }
                                </script>
                                <div class="col-md-6">
                                    <div class="form-group fill">
                                        <div id="div10" class="row ">
                                            <div class="col-md-6">
                                                <label class="form-label d-none" id="div11">From</label>
                                                <select class="form-control d-none" id="div12" aria-invalid="false"><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option selected value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option></select>
                                                <select class="form-control d-none" id="div15" aria-invalid="false"><option value="ALL">All</option><option value="01">01 - January</option><option value="02">02 - Febuary</option><option value="03">03 - March</option><option value="04">04 - April</option><option value="05">05 - May</option><option selected value="06">06 - June</option><option value="07">07 - July</option><option value="08">08 - August</option><option value="09">09 - September</option><option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option></select>
                                                <select class="form-control d-none" id="div13" aria-invalid="false"><option value="01">Quater 1</option><option value="02">Quater 2</option><option value="03">Quater 3</option><option value="04">Quater 4</option></select>
                                                <input type="text" class="form-control d-none" id="div14" name="datetime" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label d-none" id="div21">To</label>
                                                <select class="form-control d-none" id="div22" aria-invalid="false"><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option selected value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option></select>
                                                <select class="form-control d-none" id="div25" aria-invalid="false"><option value="ALL">All</option><option value="01">01 - January</option><option value="02">02 - Febuary</option><option value="03">03 - March</option><option value="04">04 - April</option><option value="05">05 - May</option><option selected value="06">06 - June</option><option value="07">07 - July</option><option value="08">08 - August</option><option value="09">09 - September</option><option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option></select>
                                                <select class="form-control  d-none" id="div23" aria-invalid="false"><option value="01">Quater 1</option><option value="02">Quater 2</option><option value="03">Quater 3</option><option value="04">Quater 4</option></select>
                                                <input type="text" class="form-control d-none" id="div24" name="datetime" />
                                            </div>
                                        </div>
                                        @*<div id="div20" class="row">
                                            <div id="div201" class="col-md-6">
                                                <label class="form-label">From</label>
                                                <input type="text" class="form-control" name="datetime" />
                                            </div>
                                            <div id="div202" class="col-md-6">
                                                <label class="form-label">To</label>
                                                <input type="text" class="form-control" name="datetime" />
                                            </div>
                                        </div>*@

                                    </div>
                                </div>
                                <div id="div2" class="col-md-6">
                                    <div class="form-group fill">
                                        <div class="row">
                                            <div class="col-md-6 d-none" id="div31">
                                                <label class="form-label">From Value</label>
                                                <input type="text" class="form-control" value="0.0" />
                                            </div>
                                            <div class="col-md-6 d-none" id="div32">
                                                <label class="form-label">To Value</label>
                                                <input type="text" class="form-control" value="0.0" />
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>
                            <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>SECTION MASTER</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-1">
                            <button type="button" class="btn btn-danger" title="ลบรายการ" onclick="Prc_Rm();">ลบรายการ</button>
                            <button id="btnAdd" type="button" class="btn btn-info float-md-right mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">เพิ่มข้อมูล</button>
                        </div>
                        <div class="table-responsive">
                            <span class="float-right p-10">แสดงข้อมูล 1 รายการ จากทั้งหมด 1 รายการ</span>
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>#</th>
                                        <th>CODE</th>
                                        <th>DESC</th>
                                        <th>DESC 1</th>
                                        <th>SEQ</th>
                                        <th>TAX REFUND %</th>
                                        <th>UPDATED DATE</th>
                                        <th>SYSTEM CODE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td><a href="#" class="edit" data-toggle="modal" data-target=".bd-example-modal-lg">H</a></td>
                                        <td>H-BEAM</td>
                                        <td>UNIVERSAL BEAMS/COLUMNS</td>
                                        <td>1</td>
                                        <td>0.34000</td>
                                        <td>15-Apr-21 14:55</td>
                                        <td>10</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Base Style table end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group fill">
                            <label class="form-label">CODE</label>
                            <input type="text" class="form-control" id="txtcode" value="H">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group fill">
                            <label class="form-label">DESC</label>
                            <input type="text" class="form-control" id="txtdesc" value="H-BEAM">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group fill">
                            <label class="form-label">DESC 1</label>
                            <input type="text" class="form-control" id="txtdesc1" value="UNIVERSAL BEAMS/COLUMNS">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group fill">
                            <label class="form-label">SEQ </label>
                            <input type="text" class="form-control" id="txtseq" value="1">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group fill">
                            <label class="form-label">TAX REFUND % 	 </label>
                            <input type="text" id="txttax" class="form-control" value="0.34000">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group fill">
                            <label class="form-label">UPDATED DATE </label>
                            <input type="text" class="form-control" value="@DateTime.Now.ToString("dd-MM-yy HH:mm")" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group fill">
                            <label class="form-label">SYSTEM CODE</label>
                            <input id="txtsys_code" type="text" class="form-control" value="10" disabled="disabled">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
                @*<button type="button" class="btn btn-primary">SAVE AS</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.SectionMaster').addClass('active');
        $('Button[id=btnAdd]').click(function () {
            $("#staticBackdropLabel").html("เพิ่มข้อมูล");
            $("#txtcode").val("");
            $("#txtdesc").val("");
            $("#txtdesc1").val("");
            $("#txtseq").val("");
            $("#txttax").val("");
            $("#txtsys_code").val("");
            //alert("There was a problem with the request.");
        });
        $('a[class=edit]').click(function () {
            $("#staticBackdropLabel").html("แก้ไขข้อมูล");
            $("#txtcode").val("H");
            $("#txtdesc").val("H-BEAM");
            $("#txtdesc1").val("UNIVERSAL BEAMS/COLUMNS");
            $("#txtseq").val("1");
            $("#txttax").val("0.34000");
            $("#txtsys_code").val("10");
            //alert("There was a problem with the request.");
        });
        
    });




    //function displaydata(el) {
    //    //console.log(el); return;
    //    //var id = $(el).parent().attr("data-id");   
    //    var chk = el.value;
    //    if (chk == "AT") {
    //        $("#div1").addClass("d-block").removeClass("d-none");
    //    }

    //    alert(el.value);
    //}
</script>



