﻿
@{
    ViewBag.Title = "STANDARD - GRADE";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">STANDARD - GRADE</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Favorite"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">PN MASTER</a></li>
                            <li class="breadcrumb-item"><a href="#!">PRODUCT MASTER</a></li>
                            <li class="breadcrumb-item"><a href="#!">SECTION MASTER</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>SEARCH</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validation-form123" action="#!" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">STANDARD</label>
                                        <div class="form-group fill">
                                            <select class="form-control" aria-invalid="false">
                                                <option value="ALL">All</option>
                                                <option value="NONE">None</option>
                                                <option value="1">ABS - ABS Materials and Welding</option>
                                                <option value="2">AS/NZS - AS/NZS 3679.1:2016</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">STATUS</label>
                                        <div class="form-group fill">
                                            <select class="form-control" aria-invalid="false">
                                                <option value="ALL">ทั้งหมด</option>
                                                <option value="ACTIVTED">Actived</option>
                                                <option value="CANCELED">Canceled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">GRADE</label>
                                        <div class="form-group fill">
                                            <select class="form-control" aria-invalid="false">
                                                <option value="ALL">All</option>
                                                <option value="NONE">None</option>
                                                <option value="3SP">3SP</option>
                                                <option value="43A">43A</option>
                                                <option value="43A/S275JR">43A/S275JR</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by</label>
                                        <select class="form-control" aria-invalid="false"><option value="a.CreateDt">Create date</option><option value="a.UpdateDt">Update date</option></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select onchange="displaydata(this);" class="form-control" aria-invalid="false"><option value="NONE">None</option><option value="AT">At</option><option value="BETWEEN">Between</option><option value="LT">Less than</option><option value="LTEQ">Less than or equal</option><option value="MONTHAT">At Month</option><option value="MONTHBW">Between Month</option><option value="MT">More than</option><option value="MTEQ">More than or equal</option><option value="QUARTERAT">At Quater</option><option value="QUATERBW">Between Quater</option><option value="YEARAT">At Year</option><option value="YEARBW">Between Year</option></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by numeric</label>
                                        <select class="form-control" aria-invalid="false"><option value="NONE">None</option></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select onchange="displaydata2(this);" class="form-control" aria-invalid="false"><option value="NONE">None</option><option value="AT">At</option><option value="BETWEEN">Between</option><option value="LT">Less than</option><option value="LTEQ">Less than or equal</option><option value="MT">More than</option><option value="MTEQ">More than or equal</option></select>
                                    </div>
                                </div>
                                <script>
                                    function displaydata2(el) {
                                        var chk = el.value;

                                        $("#div31").addClass("d-none").removeClass("d-block");
                                        $("#div32").addClass("d-none").removeClass("d-block");
                                        if (chk == "BETWEEN") {
                                            $("#div31").addClass("d-block").removeClass("d-none");
                                            $("#div32").addClass("d-block").removeClass("d-none");
                                        }
                                        if (chk == "AT" || chk == "LT" || chk == "LTEQ" || chk == "MT" || chk == "MTEQ") {
                                            $("#div31").addClass("d-block").removeClass("d-none");
                                        }
                                    }

                                    function displaydata(el) {
                                        //console.log(el); return;
                                        //var id = $(el).parent().attr("data-id");
                                        $("#div11").addClass("d-none").removeClass("d-block");
                                        $("#div12").addClass("d-none").removeClass("d-block");
                                        $("#div13").addClass("d-none").removeClass("d-block");
                                        $("#div14").addClass("d-none").removeClass("d-block");
                                        $("#div15").addClass("d-none").removeClass("d-block");

                                        $("#div21").addClass("d-none").removeClass("d-block");
                                        $("#div22").addClass("d-none").removeClass("d-block");
                                        $("#div23").addClass("d-none").removeClass("d-block");
                                        $("#div24").addClass("d-none").removeClass("d-block");
                                        $("#div25").addClass("d-none").removeClass("d-block");
                                        var chk = el.value;
                                        if (chk == "AT" || chk == "LT" || chk == "LTEQ" || chk == "MT" || chk == "MTEQ" ) {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div14").addClass("d-block").removeClass("d-none");
                                        }
                                        if (chk == "BETWEEN") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div14").addClass("d-block").removeClass("d-none");
                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div24").addClass("d-block").removeClass("d-none");
                                        }
                                        if (chk == "MONTHAT") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div15").addClass("d-block").removeClass("d-none");

                                        }
                                        if (chk == "MONTHBW") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div15").addClass("d-block").removeClass("d-none");

                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div22").addClass("d-block").removeClass("d-none");
                                            $("#div25").addClass("d-block").removeClass("d-none");
                                        }
                                        if (chk == "QUARTERAT") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div13").addClass("d-block").removeClass("d-none");

                                        }
                                        if (chk == "QUATERBW") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div13").addClass("d-block").removeClass("d-none");

                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div22").addClass("d-block").removeClass("d-none");
                                            $("#div23").addClass("d-block").removeClass("d-none");

                                        }
                                        if (chk == "YEARAT") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");

                                        }
                                        if (chk == "YEARBW") {
                                            $("#div11").addClass("d-block").removeClass("d-none");
                                            $("#div12").addClass("d-block").removeClass("d-none");
                                            $("#div21").addClass("d-block").removeClass("d-none");
                                            $("#div22").addClass("d-block").removeClass("d-none");
                                        }

                                    }
                                </script>
                                <div class="col-md-6">
                                    <div class="form-group fill">
                                        <div id="div10" class="row ">
                                            <div class="col-md-6">
                                                <label class="form-label d-none" id="div11">From</label>
                                                <select class="form-control d-none" id="div12" aria-invalid="false"><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option selected value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option></select>
                                                <select class="form-control d-none" id="div15" aria-invalid="false"><option value="ALL">All</option><option value="01">01 - January</option><option value="02">02 - Febuary</option><option value="03">03 - March</option><option value="04">04 - April</option><option value="05">05 - May</option><option selected value="06">06 - June</option><option value="07">07 - July</option><option value="08">08 - August</option><option value="09">09 - September</option><option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option></select>
                                                <select class="form-control d-none" id="div13" aria-invalid="false"><option value="01">Quater 1</option><option value="02">Quater 2</option><option value="03">Quater 3</option><option value="04">Quater 4</option></select>
                                                <input type="text" class="form-control d-none" id="div14" name="datetime" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label d-none" id="div21">To</label>
                                                <select class="form-control d-none" id="div22" aria-invalid="false"><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option selected value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option></select>
                                                <select class="form-control d-none" id="div25" aria-invalid="false"><option value="ALL">All</option><option value="01">01 - January</option><option value="02">02 - Febuary</option><option value="03">03 - March</option><option value="04">04 - April</option><option value="05">05 - May</option><option selected value="06">06 - June</option><option value="07">07 - July</option><option value="08">08 - August</option><option value="09">09 - September</option><option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option></select>
                                                <select class="form-control  d-none" id="div23" aria-invalid="false"><option value="01">Quater 1</option><option value="02">Quater 2</option><option value="03">Quater 3</option><option value="04">Quater 4</option></select>
                                                <input type="text" class="form-control d-none" id="div24" name="datetime" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="div2" class="col-md-6">
                                    <div class="form-group fill">
                                        <div class="row">
                                            <div class="col-md-6 d-none" id="div31">
                                                <label class="form-label">From Value</label>
                                                <input type="text" class="form-control" value="0.0" />
                                            </div>
                                            <div class="col-md-6 d-none" id="div32">
                                                <label class="form-label">To Value</label>
                                                <input type="text" class="form-control" value="0.0" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>STANDARD - GRADE</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-1">
                            <button type="button" class="btn btn-danger" title="ลบรายการ" onclick="Prc_Rm();">ลบรายการ</button>
                            <button id="btnAdd" type="button" class="btn btn-success float-md-right mr-1">บันทึกรายการ</button>
                            <button id="btnAddSTDGrade" type="button" class="btn btn-success float-md-right mr-1">เพิ่ม STD.-GRADE</button>
                            <button id="btnSetCancel" type="button" class="btn btn-danger float-md-right mr-1">SET CANCEL</button>
                            <button id="btnSetActive" type="button" class="btn btn-success float-md-right mr-1">SET ACTIVE</button>
                        </div>
                        <div class="table-responsive">
                            <span class="float-right p-10">แสดงข้อมูล 1 รายการ จากทั้งหมด 1 รายการ</span>
                            <table id="select_table" class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input id="select-all" type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>#</th>
                                        <th>#</th>
                                        <th>STD CD</th>
                                        <th>GRADE CD</th>
                                        <th>STD</th>
                                        <th>GRADE</th>
                                        <th>PN.GRADE</th>
                                        <th>SIZE Cd</th>
                                        <th>STD Cd</th>
                                        <th>GRADE Cd</th>
                                        <th>STATUS Cd</th>
                                        <th>UPDATED Cd</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input id="chk" type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td colspan="9">Standard : <span class="text-c-blue">TIS</span> <span class="text-c-red">0</span></td>
                                        <td><button id="btnAddGrade" type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">เพิ่ม GRADE</button></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input id="chk" type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">TIS</option>
                                                    <option value="1">TIS1390</option>
                                                    <option value="2">TIS1390-2539</option>
                                                    <option value="3">TIS2015</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">None</option>
                                                    <option value="1">S355K2</option>
                                                    <option value="2">S390GP</option>
                                                    <option value="3">S430GP</option>
                                                    <option value="4" selected>SS400</option>
                                                    <option value="5">SS490</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>SS400</td>
                                        <td>0</td>
                                        <td>000</td>
                                        <td>000</td>
                                        <td>actived</td>
                                        <td>12-Feb-21 17:58</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input id="chk" type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>1</td>
                                        <td colspan="9">Standard : <span class="text-c-blue">JIS</span> <span class="text-c-red">1</span></td>
                                        <td><button id="btnAddGrade" type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">เพิ่ม GRADE</button></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input id="chk" type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">JIS</option>
                                                    <option value="1">JIS1</option>
                                                    <option value="2">JIS2</option>
                                                    <option value="3">JIS3</option>
                                                    <option value="4">JIS4</option>
                                                    <option value="5">JIS5</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group fill">
                                                <select class="form-control" aria-invalid="false">
                                                    <option value="0">None</option>
                                                    <option value="1">S355K2</option>
                                                    <option value="2">S390GP</option>
                                                    <option value="3">S430GP</option>
                                                    <option value="4">SS400</option>
                                                    <option value="5" selected>SS490</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>SS490</td>
                                        <td>0</td>
                                        <td>000</td>
                                        <td>000</td>
                                        <td>actived</td>
                                        <td>12-Feb-21 17:58</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#!" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#!">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Base Style table end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</section>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">GRADE MASTER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <span class="float-left p-10">GRADE MASTER 97 Record(s), 1 Page(s)</span>
                    <span class="float-right p-10">แสดงข้อมูล 1 รายการ จากทั้งหมด 1 รายการ</span>
                    <table id="select_table" class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input id="select-all" type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </th>
                                <th>#</th>
                                <th>GRADE_ID</th>
                                <th>GRADE</th>
                                <th>FULL GRADE</th>
                                <th>SYSTEM.COM</th>
                                <th>UPDAETD DATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input id="chk" type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>1</td>
                                <td>3SP</td>
                                <td>3SP</td>
                                <td></td>
                                <td>89</td>
                                <td>08-Jan-21 14:08</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="chk-option">
                                        <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                            <input id="chk" type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>2</td>
                                <td>43A</td>
                                <td>43A</td>
                                <td></td>
                                <td>75</td>
                                <td>16-Mar-15 09:42</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#!" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#!">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });
</script>
