﻿@{
    ViewBag.Title = "CUSTOMER'S USER & PASSWORD";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">User & Authorize</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Favorite"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">User & Authorize</a></li>
                            <li class="breadcrumb-item"><a href="#!">CUSTOMER'S USER & PASSWORD</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>SEARCH</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="validation-form123" action="#!" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Department</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="all">All</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="2">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Role</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="all">All</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="2">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">User ID</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">User Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Manager ID</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">SAP ID</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group fill">
                                        <label class="form-label">Search by numeric</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group fill">
                                        <label class="form-label">Criteria</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="">ทั้งหมด</option>
                                            <option value="xx">xxxxx</option>
                                            <option value="yy">yyyyy</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary float-md-right has-ripple">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Base Style table start -->
            <div class="col-sm-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>CUSTOMER'S USER & PASSWORD</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-1">
                            <button type="button" class="btn btn-danger" title="ลบรายการ" onclick="Prc_Rm();">ลบรายการ</button>
                            <button id="btnAdd" type="button" class="btn btn-info float-md-right mr-1" data-toggle="modal" data-target=".bd-example-modal-lg">ADD USER</button>
                        </div>
                        <div class="table-responsive">
                            <span class="float-right p-10">แสดงข้อมูล 0 รายการ จากทั้งหมด 0 รายการ</span>
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                                <label class="check-task custom-control custom-checkbox d-flex justify-content-center done-task">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th>#</th>
                                        <th>DEPART.</th>
                                        <th>ROLE</th>
                                        <th>USER ID	</th>
                                        <th>NAME</th>
                                        <th>MANAGER ID</th>
                                        <th>SAP ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="11" class="text-center">
                                            <label>No Data</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Base Style table end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">User ID</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" value="Admin User">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">SAP ID</label>
                                <input type="text" class="form-control" value="s0490008">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Manager ID</label>
                                <input type="text" class="form-control" value="0000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Sample</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">fore Color</label>
                                <input type="color" class="form-control" value="FFFFFF">

                                @*<div class="minicolors minicolors-theme-bootstrap minicolors-position-bottom">
                                    <input type="text" id="hue-demo" class="form-control demo minicolors-input" data-control="hue" value="#FFFFFF" size="7">
                                    <span class="minicolors-swatch minicolors-sprite minicolors-input-swatch">
                                        <span class="minicolors-swatch-color" style="background-color: rgb(255, 97, 97);"></span>
                                    </span>
                                    <div class="minicolors-panel minicolors-slider-hue">
                                        <div class="minicolors-slider minicolors-sprite">
                                            <div class="minicolors-picker" style="top: 150px;"></div>
                                        </div>
                                        <div class="minicolors-opacity-slider minicolors-sprite">
                                            <div class="minicolors-picker"></div>
                                        </div>
                                        <div class="minicolors-grid minicolors-sprite" style="background-color: rgb(255, 0, 0);">
                                            <div class="minicolors-grid-inner"></div>
                                            <div class="minicolors-picker" style="top: 0px; left: 93px;"><div></div></div>
                                        </div>
                                    </div>
                                </div>*@

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">background Color</label>
                                <input type="color" class="form-control" value="FFFFFF">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Mobile No</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Tel.No</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Fax.No</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Expire Day(s)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">Warning Day(s)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group fill">
                                <label class="form-label">PSI.PLANT</label>
                                <select class="form-control" aria-invalid="false">
                                    <option value="none">None</option>
                                    <option value="1">SYS1</option>
                                    <option value="2">SYS2</option>
                                    <option value="3">SYS1-2</option>
                                    <option value="3">SR</option>
                                    <option value="3">MKT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bt-wizard" id="tabswizard">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#tabs-t-tab1" class="nav-link rounded-0 has-ripple active" data-toggle="tab">GROUP AUTHORIZED<span class="ripple ripple-animate" style="height: 74.2812px; width: 74.2812px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(70, 128, 255); opacity: 0.4; top: -22.1328px; left: 15.8672px;"></span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="pt-1 bg-primary"></div>

                        <div class="tab-pane card-body pt-4 show active" id="tabs-t-tab1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">Department</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="none">None</option>
                                            <option value="1">SYS1</option>
                                            <option value="2">SYS2</option>
                                            <option value="3">SYS1-2</option>
                                            <option value="3">SR</option>
                                            <option value="3">MKT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">Role</label>
                                        <select class="form-control" aria-invalid="false">
                                            <option value="none">None</option>
                                            <option value="1">SYS1</option>
                                            <option value="2">SYS2</option>
                                            <option value="3">SYS1-2</option>
                                            <option value="3">SR</option>
                                            <option value="3">MKT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">E-Mail</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">Tel No.</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">Fax No.</label>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">CREATED BY</label>
                                        <input type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">CREATED DATE</label>
                                        <input type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">UPDATED BY</label>
                                        <input type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">UPDATED DATE</label>
                                        <input type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group fill">
                                        <label class="form-label">SYSTEM CODE</label>
                                        <input type="text" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary">SAVE REV</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.ScheduleShipment').addClass('active');
        $('Button[id=btnAdd]').click(function () {
            $("#staticBackdropLabel").html("CUSTOMER'S USER & PASSWORD");
            //$("#staticBackdropLabel").html("บันทึกข้อมูล");
        });
    });
</script>


