﻿
<!DOCTYPE html>
<!-- saved from url=(0054)#! -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - E-Ordering</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    @*@Styles.Render("~/vendor/css")*@
    <link href="~/vendor/css/prism-coy.css" rel="stylesheet" />
    <link href="~/assets/css/daterangepicker.css" rel="stylesheet" />
    <link href="~/vendor/css/style.css" rel="stylesheet" />
    <link href="~/vendor/css/translateelement.css" rel="stylesheet" />
    <link href="~/vendor/css/custom.css" rel="stylesheet" />
    <link href="~/vendor/css/plugins/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")

</head>
<body class="background-dark" style="">
    <!-- [ Pre-loader ] start -->
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper  ">
            <div class="navbar-content scroll-div ps ps--active-y">

                <div class="d-none">
                    <div class="main-menu-header">
                        <img class="img-radius" src="../../vendor/images/avatar-2.jpg" alt="User-Profile-Image">
                        <div class="user-details">
                            <div id="more-details">UX Designer <i class="fa fa-caret-down"></i></div>
                        </div>
                    </div>
                    <div class="collapse" id="nav-user-link">
                        <ul class="list-inline">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                            <li class="list-inline-item"><a href="http://ableproadmin.com/bootstrap/default/user-profile.html" data-toggle="tooltip" title="" data-original-title="View Profile"><i class="feather icon-user"></i></a></li>
                            <li class="list-inline-item"><a href="http://ableproadmin.com/bootstrap/default/email_inbox.html"><i class="feather icon-mail" data-toggle="tooltip" title="" data-original-title="Messages"></i><small class="badge badge-pill badge-primary">5</small></a></li>
                            <li class="list-inline-item"><a href="http://ableproadmin.com/bootstrap/default/auth-signin.html" data-toggle="tooltip" title="" class="text-danger" data-original-title="Logout"><i class="feather icon-power"></i></a></li>
                        </ul>
                    </div>
                </div>

                <ul class="nav pcoded-inner-navbar ">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item dashboard">
                        <a href="/favorite" class="nav-link has-ripple">
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Favorite</span>
                            <span class="ripple ripple-animate" style="height: 210px; width: 210px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -88px; left: 79px;"></span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sliders"></i></span><span class="pcoded-mtext">SETUP DATA</span></a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">Transfer to SAP</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">TRANSFER ORDER TO SAP</a></li>
                                    <li><a href="#">DN TRANSFER</a></li>
                                    <li><a href="#">INTERFACE DN</a></li>
                                    <li><a href="#">UPLOAD PA REPORT FROM SAP</a></li>
                                    <li><a href="#">DEPT FOR SPECIAL REQUEST</a></li>
                                    <li><a href="#">CAR I/O</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Advance Set</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">เปิดเสนอราคา สั่งซื้อล่วงหน้า</a></li>
                                    <li><a href="#">เปิดเสนอราคา สั่งซื้อล่วงหน้า (TRADER)</a></li>
                                    <li><a href="#">เอกสารประกอบการสั่งซื้อล่วงหน้า (ADV)</a></li>
                                    <li><a href="#">กำหนดกลุ่มการขายสินค้า ADV</a></li>
                                    <li><a href="#">ADVANCE SET สินค้าชุดสุดคุ้ม</a></li>
                                    <li><a href="#">CFR QUOTA.RANGE</a></li>
                                    <li><a href="#">ปรับปรุง CFR QUOTA</a></li>
                                    <li><a href="#">PROJECT PRICE MASTER</a></li>
                                    <li><a href="#">กำหนดกลุ่มสินค้า สำหรับ QUOTATION PROJECT</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Upload PDF</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">UPLOAD PDF FOR CUSTOMER GROUP</a></li>
                                    <li><a href="#">UPLOAD PDF FOR CUSTOMER (SYS)</a></li>
                                    <li><a href="#">IMPORT EMIS AUTO FILE</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Customer Master</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">CUSTOMER MASTER</a></li>
                                    <li><a href="#">TRADER MASTER</a></li>
                                    <li><a href="#">SHIPMENT PORT</a></li>
                                    <li><a href="#">เพิ่มชื่อ FRABRICATOR</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">General Master</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">TERM & CONDITION MASTER</a></li>
                                    <li><a href="#">BANK MASTER</a></li>
                                    <li><a href="#">PAYMENT TERM MASTER</a></li>
                                    <li><a href="#">APPL.PARAMETER</a></li>
                                    <li><a href="#">ADVANCE TYPE SETUP</a></li>
                                    <li><a href="#">REBATE TYPE MASTER</a></li>
                                    <li><a href="#">SURCHARGE TYPE SETUP</a></li>
                                    <li><a href="#">อำนาจดำเนินการ</a></li>
                                    <li><a href="#">PROJECT TYPE MASTER</a></li>
                                    <li><a href="#">COUNTRY FOR EXPORT</a></li>
                                    <li><a href="#">EXPORT ADVANCED SET</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">CFR Master</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">ประเภทรถขนส่ง</a></li>
                                    <li><a href="#">บริษัทรับจ้างขนส่ง</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">SCOR METRICS MASTER</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">SCOR MATRIX CONTROL</a></li>
                                    <li><a href="#">SCOR - IF REASON</a></li>
                                    <li><a href="#">SCOR - CD ใบลดหนี้/เพิ่มหนี้</a></li>
                                    <li><a href="#">SCOR - รายการ ORDER ที่ปฏิเสธการส่ง</a></li>
                                    <li><a href="#">SCOR-CLAIM DATA</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">DOMESTIC</span></a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">Order Confirm</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">ใบสั่งซื้อล่วงหน้า</a></li>
                                    <li><a href="#">DOMESTIC ORDER CONFIRM</a></li>
                                    <li><a href="#">PO SAP TEXT</a></li>
                                    <li><a href="#">ตรวจสอบ DOMESTIC ORDER CONFIRM</a></li>
                                    <li><a href="#">แสดง DOMESTIC ORDER CONFIRM</a></li>
                                    <li><a href="#">MANAGE ORDER FILL เดิม</a></li>
                                    <li><a href="#">PO SAP TEXT (ลูกค้า)</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">การรับสินค้า</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">สร้างใบขอนุมัติตั๋วตัดจ่ายล่วงหน้า</a></li>
                                    <li><a href="#">ใบขอนุมัติตั๋วตัดฝาก</a></li>
                                    <li><a href="#">สร้างใบจัดรถ</a></li>
                                    <li><a href="#">ใบจัดรถขนส่ง (SYS)</a></li>
                                    <li><a href="#">สร้างใบสั่งซื้อ (SYS)</a></li>
                                    <li><a href="#">ใบสั่งซื้อ (SYS)</a></li>
                                    <li><a href="#">สร้าง ใบสรุปยอดจ่ายเช็ค (SYS)</a></li>
                                    <li><a href="#">สรุปยอดจ่ายเช็ค</a></li>
                                    <li><a href="#">ใบจัดรถ (กำหนดเลข DP)</a></li>
                                    <li><a href="#">ตารางจัดรถส่งให้ (SYS)</a></li>
                                    <li><a href="#">ใบจัดรถ (กำหนดเลข DP) SALES ORG 0180</a></li>
                                    <li><a href="#">ใบจัดรถ (กำหนดเลข DP) CFR</a></li>
                                    <li><a href="#">EST.SHIPMENT DO.</a></li>
                                    <li><a href="#">EST.SHIPMENT DO.OLD</a></li>
                                    <li><a href="#">จัดการใบจัดรถขนส่ง สสจ</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">DLC</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">SC DLC (DOMESTIC)</a></li>
                                    <li><a href="#">ตรวจสอบ SC DLC (DOMESTIC)</a></li>
                                    <li><a href="#">อนุมัติ SC DLC (DOMESTIC)</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Quotation</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">DOMESTIC QUOTATION</a></li>
                                    <li><a href="#">CHECK 1 DOMESTIC QUOTATION</a></li>
                                    <li><a href="#">CHECK 2 DOMESTIC QUOTATION</a></li>
                                    <li><a href="#">APPROVE DOMESTIC QUOTATION</a></li>
                                    <li><a href="#">CS APPROVE DOMESTIC QUOTATION</a></li>
                                    <li><a href="#">CS APPROVE EXPORT QUOTATION</a></li>
                                    <li><a href="#">ใบขอต่ออายุ POSSIBILITY</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">PROJECT</span></a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">Order Confirm</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">PROJECT ORDER CONFIRM</a></li>
                                    <li><a href="#">ตรวจสอบ PROJECT ORDER CONFIRM</a></li>
                                    <li><a href="#">แสดง PROJECT ORDER CONFIRM</a></li>
                                    <li><a href="#">ใบแจ้งหนี้ (INVOICE)</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Quotation</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">PROJECT QUOTATION</a></li>
                                    <li><a href="#">CHECK 1 PROJECT QUOTATION</a></li>
                                    <li><a href="#">CHECK 2 PROJECT QUOTATION</a></li>
                                    <li><a href="#">APPROVE PROJECT QUOTATION</a></li>
                                    <li><a href="#">ใบสรุปยอดใบแจ้งหนี้</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">การรับสินค้า</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">ใบจัดรถขนส่ง (SYS)</a></li>
                                    <li><a href="#">รายงานสรุป QUOTATION PROJECT</a></li>
                                    <li><a href="#">กระบวนการออกใบจัดรถ</a></li>
                                    <li><a href="#">EST.SHIPMENT PRJ.</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-clipboard"></i>
                            </span>
                            <span class="pcoded-mtext">EXPORT</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">Order Confirm</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">EXPORT ORDER CONFIRM</a></li>
                                    <li><a href="#">CHECK EXPORT ORDER CONFIRM</a></li>
                                    <li><a href="#">APPROVE EXPORT ORDER CONFIRM</a></li>
                                    <li><a href="#">EXPORT INVOICE</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Quotation</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">EXPORT QUOTATION</a></li>
                                    <li><a href="#">CHECK 1 EXPORT QUOTATION</a></li>
                                    <li><a href="#">CHECK 2 EXPORT QUOTATION</a></li>
                                    <li><a href="#">APPROVE EXPORT QUOTATION</a></li>
                                    <li><a href="#">INQUIRY IN PROCESS</a></li>
                                    <li><a href="#">UPLOAD EXPORT ORDER</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Export Process</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">CHECK LOW PRICE</a></li>
                                    <li><a href="#">APPROVE LOW PRICE #1</a></li>
                                    <li><a href="#">APPROVE LOW PRICE #2</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">REPORT</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">REPORT ORDER BY SHIPMENT</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-scissors"></i>
                            </span>
                            <span class="pcoded-mtext">CUT BEAM</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">CUT Process</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">ใบแจ้งตัดเหล็ก (SYS)</a></li>
                                    <li><a href="#">ใบแจ้งตัดเหล็ก เพื่อ KEY รับเหล็กลูกค้า</a></li>
                                    <li><a href="#">ใบแจ้งตัดเหล็ก เพือ KEY เหล็กตัดเสร็จ</a></li>
                                    <li><a href="#">ใบส่งของ</a></li>
                                    <li><a href="#">ใบแจ้งหนี้ค่าตัดเหล็ก</a></li>
                                    <li><a href="#">อนุมัติใบแจ้งหนี้ค่าตัดเหล็ก</a></li>
                                    <li><a href="#">รอพิมพ์ใบแจ้งหนี้ค่าตัดเหล็ก</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Memo for CUT</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">ใบขออนุมัติตัดสินค้า</a></li>
                                    <li><a href="#">อนุมัติ ใบขออนุมัติตัดสินค้า</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">After Billing Process</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">นำเข้าข้อมูล BILL DUE DATE</a></li>
                                    <li><a href="#">ข้อมูล BILL DUE DATE</a></li>
                                    <li><a href="#">ข้อมูล ใบรับชำระ OCW</a></li>
                                    <li><a href="#">ข้อมูล ใบนำส่ง</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">Report</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">รายงานรับสินค้าจากลูกค้า</a></li>
                                    <li><a href="#">รายงานรับสินค้าจากการตัด</a></li>
                                    <li><a href="#">รายงานใบแจ้งหนี้ค่าตัด </a></li>
                                    <li><a href="#">รายงานรับเงินค่าตัดเหล็ก</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-file-minus"></i>
                            </span>
                            <span class="pcoded-mtext">EXPORT DOC</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">SETUP DATA</a>
                                <ul class="pcoded-submenu">
                                    <li class="AdminPage">@Html.ActionLink("ADMIN PAGE", "AdminPage", "ExportDoc")</li>
                                    <li class="CustomerEmail">@Html.ActionLink("CUSTOMER EMAIL", "CustomerEmail", "ExportDoc")</li>
                                    <li class="EndCustomerEmail">@Html.ActionLink("END CUSTOMER EMAIL", "EndCustomerEmail", "ExportDoc")</li>
                                    <li class="OdsSetup">@Html.ActionLink("ODS SETUP", "OdsSetup", "ExportDoc")</li>
                                    <li class="SendOrderEmail">@Html.ActionLink("SEND ORDER EMAIL", "SendOrderEmail", "ExportDoc")</li>
                                    <li class="OdsReportAuthorize">@Html.ActionLink("ODS REPORT AUTHORIZE", "OdsReportAuthorize", "ExportDoc")</li>

                                    <li class="MailLog">@Html.ActionLink("MAIL LOG", "MailLog", "ExportDoc")</li>
                                    <li class="ScrapReturnMaster">@Html.ActionLink("SCRAP RETURN MASTER", "ScrapReturnMaster", "ExportDoc")</li>
                                    <li class="OpData">@Html.ActionLink("OP DATA", "OpData", "ExportDoc")</li>
                                    <li class="InLandCost">@Html.ActionLink("IN-LAND COST", "InLandCost", "ExportDoc")</li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">SCHEDULE SHIPMENT</a>
                                <ul class="pcoded-submenu">
                                    <li class="ScheduleShipment">@Html.ActionLink("SCHEDULE SHIPMENT", "ScheduleShipment", "ExportDoc")</li>
                                    <li class="Vessl">@Html.ActionLink("VESSEL", "Vessl", "ExportDoc")</li>
                                    <li class="VesslAgent">@Html.ActionLink("VESSEL AGENT", "VesslAgent", "ExportDoc")</li>
                                    <li class="VesslType">@Html.ActionLink("VESSEL TYPE", "VesslType", "ExportDoc")</li>
                                    <li class="ShipmentPeriod">@Html.ActionLink("SHIPMENT PERIOD", "ShipmentPeriod", "ExportDoc")</li>
                                    <li class="ListRebateByOrder">@Html.ActionLink("LIST REBATE BY ORDER", "ListRebateByOrder", "ExportDoc")</li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">OPERATION</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">PRINT INV# EXPORT ORDER</a></li>
                                    <li><a href="#">PRINT INV# EXPORT ORD.BY SHIPMENT</a></li>
                                    <li><a href="#">MOVE ORDER TO ODS</a></li>
                                    <li><a href="#">CREDIT DOCUMENT</a></li>
                                    <li><a href="#">BE/BEN.CERT.FROM</a></li>
                                    <li><a href="#">กำหนดเลขที่ใบขน</a></li>
                                    <li><a href="#">ใบขอรับเงินชดเชยค่าภาษีอากร</a></li>
                                    <li><a href="#">UPDATE PAYMENT STATUS</a></li>
                                    <li><a href="#">ใบรับชำระเงิน</a></li>
                                    <li><a href="#">EST.SHIPPMENT</a></li>
                                    <li><a href="#">SHORT SHIPMENT</a></li>
                                    <li><a href="#">ORDER DISCREPANCY</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">ODS</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">IMPORT DHL</a></li>
                                    <li><a href="#">DHL MATCHING</a></li>
                                    <li><a href="#">BANK DHL</a></li>
                                    <li><a href="#">OTHER DOC.TYPE</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">REPORTING</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">ODS REPORTING</a></li>
                                    <li><a href="#">SUMMARY FOB</a></li>
                                    <li><a href="#">ACCOUNT RECEIVABLE REPORT</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-pie-chart"></i>
                            </span>
                            <span class="pcoded-mtext">REPORT</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">ADVANCE ORDER</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">SUMMARY ADV.ORDER BY CUSTOMER</a></li>
                                    <li><a href="#">SUMMARY ADV.ORDER BY CUSTOMER</a></li>
                                    <li><a href="#">SUMMARY ADV.ORDER BY PRODUCT</a></li>
                                    <li><a href="#">SUMMARY ADV.ORDER BY PRODUCT </a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">CONFIRMED ORDER</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">SUMMARY ORDER CONFIRMED BY CUSTOMER</a></li>
                                    <li><a href="#">SUMMARY ORDER CONFIRMED BY PRODUCT</a></li>
                                    <li><a href="#">SUMMARY ORDER CONFIRMED BY PRODUCT</a></li>
                                    <li><a href="#">รายงานติดตามสถานะ ORDER</a></li>
                                    <li><a href="#">ตรวจสอบ ORDER - SAP</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">แจ้งยอดรับ</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">รายงานติดตามสถานะ ORDER (SYS)</a></li>
                                    <li><a href="#">รายงานแจ้งยอดรับสินค้า (ทั้งหมด) (SYS)</a></li>
                                    <li><a href="#">รายงานแจ้งยอดรับสินค้า (SYS)</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">รายงานการรับสินค้า</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">รายการแจ้งรับสินค้า (SYS)</a></li>
                                    <li><a href="#">รายงานใบจัดรถที่ไม่ออกตั๋ว</a></li>
                                    <li><a href="#">DAILY SALES</a></li>
                                    <li><a href="#">รายงาน รายการตั๋วตัดฝาก SYS</a></li>
                                    <li><a href="#">รายงานสรุปการรับสินค้าตามใบจัดรถ SYS</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">รายงาน STOCK</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">สอบถาม STOCK SAP</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-book"></i>
                            </span>
                            <span class="pcoded-mtext">PN MASTER</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">PRODUCT</a>
                                <ul class="pcoded-submenu">
                                    <li class="ProductCode">@Html.ActionLink("ใบเปิดรหัสสินค้า (MS126-1)", "ProductCode", "PNMaster") </li>
                                    <li class="ConfSKT">@Html.ActionLink("ยืนยันเปิดรหัสสินค้า (สกธ)", "ConfSKT", "PNMaster") </li>
                                    <li class="ConfSBC">@Html.ActionLink("ยืนยันเปิดรหัสสินค้า (สบช)", "ConfSBC", "PNMaster") </li>
                                    <li class="ConfSSJ">@Html.ActionLink("ยืนยันเปิดรหัสสินค้า (สสจ)", "ConfSSJ", "PNMaster") </li>
                                    <li class="ConfSSK">@Html.ActionLink("ยืนยันเปิดรหัสสินค้า (สสค)", "ConfSSK", "PNMaster") </li>
                                    <li class="ConfSKR1">@Html.ActionLink("ยืนยันเปิดรหัสสินค้า (สสร1)", "ConfSKR1", "PNMaster") </li>
                                    <li class="ConfSKR2">@Html.ActionLink("ยืนยันเปิดรหัสสินค้า (สสร2)", "ConfSKR2", "PNMaster") </li>
                                    <li class="SectionHarmonize">@Html.ActionLink("ITEM_MAST (FGSTOCK)", "FGStock", "PNMaster") </li>

                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">PRODUCT MASTER</a>
                                <ul class="pcoded-submenu">
                                    <li class="SectionMaster">@Html.ActionLink("SECTION MASTER", "SectionMaster", "PNMaster") </li>
                                    <li class="SectionHierarchyMaster">@Html.ActionLink("SECTION HIERARCHY MASTER", "SectionHierarchyMaster", "PNMaster") </li>
                                    <li class="SizeMaster">@Html.ActionLink("SIZE MASTER", "SizeMaster", "PNMaster") </li>
                                    <li class="StandardMaster">@Html.ActionLink("STANDARD MASTER", "StandardMaster", "PNMaster") </li>
                                    <li class="GrandeMaster">@Html.ActionLink("GRADE MASTER", "GrandeMaster", "PNMaster") </li>
                                    <li class="StandardGrade">@Html.ActionLink("STANDARD - GRADE", "StandardGrade", "PNMaster") </li>
                                    <li class="PNStatus">@Html.ActionLink("PN STATUS", "PNStatus", "PNMaster") </li>
                                    <li class="PNStatusSize">@Html.ActionLink("PN STATUS-SIZE.STD-OLD CODE", "PNStatusSize", "PNMaster") </li>
                                    <li class="StorageNewPN">@Html.ActionLink("STORAGE - NEW PN", "StorageNewPN", "PNMaster") </li>
                                    <li class="SalesORG">@Html.ActionLink("GROUP VC MASTER", "GroupVCMaster", "PNMaster") </li>
                                    <li class="SalesORG">@Html.ActionLink("SALES ORG - CHANNEL NEW PN", "SalesORG", "PNMaster") </li>
                                    <li class="GroupVCCost">@Html.ActionLink("GROUP-VC COST", "GroupVCCost", "PNMaster") </li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">OTHER MASTER</a>
                                <ul class="pcoded-submenu">
                                    <li class="PLCLicence">@Html.ActionLink("PCL LICENCE (MY)", "PLCLicence", "PNMaster") </li>
                                    <li class="SectionHarmonize">@Html.ActionLink("SECTION-HARMONIZE", "SectionHarmonize", "PNMaster") </li>
                                    <li class="NominalSize">@Html.ActionLink("NOMINAL SIZE-HARMONIZE", "NominalSize", "PNMaster") </li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">PRODUCTION PLAN</a>
                                <ul class="pcoded-submenu">
                                    <li class="PLCLicence">@Html.ActionLink("EXPORT YEARLY PRODUCTION PLAN", "Export", "PNMaster") </li>
                                    <li class="PLCLicence">@Html.ActionLink("DOMESTIC YEARLY PRODUCTION PLAN", "Domestic", "PNMaster") </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-users"></i>
                            </span>
                            <span class="pcoded-mtext">AUTHORIZES</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class="pcoded-hasmenu">
                                <a href="#">User & Authorize</a>
                                <ul class="pcoded-submenu">
                                    <li>@Html.ActionLink("User & Authorize", "SysUserAndPassword", "Authorizes")</li>
                                    <li>@Html.ActionLink("CUSTOMER'S USER & PASSWORD", "CustomerIsUserAndPassword", "Authorizes")</li>
                                    <li>@Html.ActionLink("USER MASTER", "UserIsUserAndPassword", "Authorizes")</li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">E-MAIL</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">AUTO E-MAIL</a></li>
                                    <li><a href="#">REGION E-MAIL</a></li>
                                </ul>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="#">SET SCREEN</a>
                                <ul class="pcoded-submenu">
                                    <li><a href="#">EOR GROUP'S SETUP</a></li>
                                    <li><a href="#">EOR PAGE</a></li>
                                    <li><a href="#">MENU GROUP</a></li>
                                    <li><a href="#">MENU APPLICATION</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 1936px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 1241px;"></div></div>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <!--img src="../../vendor/images/sys-logo.png" width="90" alt="" class="logo"-->
                <img src="https://www.syssteel.com/wp-content/themes/aselia/images/logo.png" width="90" alt="" class="logo">

            </a>
            <a href="#!" class="mob-toggler">
                <i class="feather icon-more-vertical"></i>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
                    <div class="search-bar">
                        <input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right notification">
                            <div class="noti-head">
                                <h6 class="d-inline-block m-b-0">Notifications</h6>
                                <div class="float-right">
                                    <a href="#!" class="m-r-10">mark as read</a>
                                    <a href="#!">clear all</a>
                                </div>
                            </div>
                            <ul class="noti-body ps">
                                <li class="n-title">
                                    <p class="m-b-0">NEW</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="../../vendor/images/avatar-1.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>5 min</span></p>
                                            <p>New ticket Added</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="n-title">
                                    <p class="m-b-0">EARLIER</p>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="../../vendor/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>10 min</span></p>
                                            <p>Prchace New Theme and make payment</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="../../vendor/images/avatar-1.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>12 min</span></p>
                                            <p>currently login</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="notification">
                                    <div class="media">
                                        <img class="img-radius" src="../../vendor/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                            <p>Prchace New Theme and make payment</p>
                                        </div>
                                    </div>
                                </li>
                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
                                <div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                            </ul>
                            <div class="noti-footer">
                                <a href="#!">show all</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown drp-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="feather icon-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-notification">
                            <div class="pro-head">
                                <img src="../../vendor/images/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                                <span>John Doe</span>
                                <a href="http://ableproadmin.com/bootstrap/default/auth-signin.html" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>
                            </div>
                            <ul class="pro-body">
                                <li><a href="http://ableproadmin.com/bootstrap/default/user-profile.html" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                                <li><a href="http://ableproadmin.com/bootstrap/default/email_inbox.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
                                <li><a href="http://ableproadmin.com/bootstrap/default/auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->

    @RenderBody()




    @*<div class="container body-content">

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@



    <!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    @Scripts.Render("~/bundles/vendor")


    @RenderSection("scripts", required: false)
    <script src="~/vendor/css/plugins/moment.min.js"></script>
    <script src="~/vendor/css/plugins/daterangepicker.js"></script>
    <script src="~/vendor/css/pages/ac-datepicker.js"></script>
    <script src="~/vendor/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/js/dataTables.bootstrap4.min.js"></script>

  

    <script>
        $(document).ready(function () {
            checkCookie();
            //$("#styleSelector").addClass("d-none");
            $(".menu-styler").addClass("d-none");
        });

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() {
            var ticks = getCookie("modelopen");
            if (ticks != "") {
                ticks++;
                setCookie("modelopen", ticks, 1);
                if (ticks == "2" || ticks == "1" || ticks == "0") {
                    $('#exampleModalCenter').modal();
                }
            } else {
                // user = prompt("Please enter your name:", "");
                $('#exampleModalCenter').modal();
                ticks = 1;
                setCookie("modelopen", ticks, 1);
            }
        }</script>





    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M-1 40L-1 40L18.75 40L37.5 40L56.24999999999999 40L75 40L93.75 40L112.49999999999999 40L131.25 40L150 40L168.75 40L187.5 40L206.25 40L224.99999999999997 40C224.99999999999997 40 224.99999999999997 40 224.99999999999997 40 "></path></svg><div id="styleSelector" class="menu-styler"><div class="style-toggler"><a href="#!"></a></div><div class="style-block"><h4 class="mb-2">Able-pro <small class="font-weight-normal">v8.0 Customizer</small></h4><hr class=""><div class="m-style-scroller ps" style="height: calc(100vh - 335px); position: relative;"><h6 class="mt-2">Layouts</h6><div class="theme-color layout-type"><a href="#!" class="active" data-value="menu-dark" title="Default Layout"><span></span><span></span></a><a href="#!" class="" data-value="menu-light" title="Light"><span></span><span></span></a><a href="#!" class="" data-value="dark" title="Dark"><span></span><span></span></a><a href="#!" class="" data-value="reset" title="Reset">Reset</a></div><h6>background color</h6><div class="theme-color background-color flat"><a href="#!" class="" data-value="background-blue"><span></span><span></span></a><a href="#!" class="" data-value="background-red"><span></span><span></span></a><a href="#!" class="" data-value="background-purple"><span></span><span></span></a><a href="#!" class="" data-value="background-info"><span></span><span></span></a><a href="#!" class="" data-value="background-green"><span></span><span></span></a><a href="#!" class="active" data-value="background-dark"><span></span><span></span></a></div><h6>background Gradient</h6><div class="theme-color background-color gradient"><a href="#!" class="" data-value="background-grd-blue"><span></span><span></span></a><a href="#!" class="" data-value="background-grd-red"><span></span><span></span></a><a href="#!" class="" data-value="background-grd-purple"><span></span><span></span></a><a href="#!" class="" data-value="background-grd-info"><span></span><span></span></a><a href="#!" class="" data-value="background-grd-green"><span></span><span></span></a><a href="#!" class="" data-value="background-grd-dark"><span></span><span></span></a></div><h6>background Image</h6><div class="theme-color background-color image"><a href="#!" class="" data-value="background-img-1"><span></span><span></span></a><a href="#!" class="" data-value="background-img-2"><span></span><span></span></a><a href="#!" class="" data-value="background-img-3"><span></span><span></span></a><a href="#!" class="" data-value="background-img-4"><span></span><span></span></a><a href="#!" class="" data-value="background-img-5"><span></span><span></span></a><a href="#!" class="" data-value="background-img-6"><span></span><span></span></a></div><div class="form-group mb-2"><div class="switch switch-primary d-inline m-r-10"><input type="checkbox" id="theme-rtl"><label for="theme-rtl" class="cr"></label></div><label>RTL</label></div><div class="form-group mb-2"><div class="switch switch-primary d-inline m-r-10"><input type="checkbox" id="menu-fixed" checked=""><label for="menu-fixed" class="cr"></label></div><label>Sidebar Fixed</label></div><div class="form-group mb-2"><div class="switch switch-primary d-inline m-r-10"><input type="checkbox" id="header-fixed" checked=""><label for="header-fixed" class="cr"></label></div><label>Header Fixed</label></div><div class="form-group mb-2"><div class="switch switch-primary d-inline m-r-10"><input type="checkbox" id="box-layouts"><label for="box-layouts" class="cr"></label></div><label>Box Layouts</label></div><div class="form-group mb-2"><div class="switch switch-primary d-inline m-r-10"><input type="checkbox" id="breadcumb-layouts"><label for="breadcumb-layouts" class="cr"></label></div><label>Breadcumb sticky</label></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div><a href="https://themeforest.net/user/phoenixcoded" class="btn btn-success btn-block m-r-15 m-t-10 m-b-10">Profile</a><a href="http://ableproadmin.com/doc-7.0/" target="_blank" class="btn btn-primary btn-block m-r-15 m-t-5 m-b-10 ">Online Documentation</a><div class="text-center"><span class="text-center f-18 m-t-15 m-b-15 d-block">Thank you for sharing !</span><a href="https://www.facebook.com/Phoenixcoded/" target="_blank" class="btn text-white bg-facebook btn-icon m-b-20"><i class="feather icon-facebook"></i></a><a href="https://twitter.com/phoenixcoded" target="_blank" class="btn text-white bg-twitter btn-icon m-l-20 m-b-20"><i class="feather icon-twitter"></i></a></div></div></div>
</body>
</html>



