﻿<html lang="en">
<head>

    <title>@ViewBag.Title - E-Ordering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded">
    <!-- Favicon icon -->
    <!-- vendor css -->
    <link href="~/vendor/css/style.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
</head>

<!-- [ signin-img ] start -->
<body>
    @RenderBody()
    <!-- [ signin-img ] end -->
    <!-- Required Js -->
    <script src="~/vendor/js/vendor-all.min.js"></script>
    <script src="~/vendor/js/bootstrap.min.js"></script>
    <script src="~/vendor/js/ripple.js"></script>
    <script src="~/vendor/js/pcoded.min.js"></script>
</body>
</html>