﻿
@{
    ViewBag.Title = "Page Not Found ";
    Layout = "~/Views/Shared/_Layout_none.cshtml";
}

    <div class="auth-wrapper maintance">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center">
                        <img src="../../vendor/images/404.png" alt="" class="img-fluid">
                        <h5 class="text-muted my-4">Oops! Page not found!</h5>
                        <form action="/favorite">
                            <button class="btn waves-effect waves-light btn-primary mb-4"><i class="feather icon-refresh-ccw mr-2"></i>Reload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ offline-ui ] end -->
    <!-- Required Js -->
    


<script type="text/javascript">
    //jQuery(document).ready(function ($) {
    //    //$(".aut-bg-img").css("background-image", "../../vendor/images/404.png");
    //    $('.aut-bg-img').css('background-image', 'url(../../vendor/images/404.png');
    //});
</script>
