﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_none.cshtml";
}
<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
        <div class="h-100 d-md-flex align-items-center auth-side-img">
            <div class="col-sm-10 auth-content w-auto">
                <img src="~/vendor/images/sys-logo.png" alt="" class="img-fluid">
                <h1 class="text-white my-4">Siam Yamato Steel Co., Ltd.</h1>
                <h4 class="text-white font-weight-normal">
                    Head Office : 1 Siam Cement Road,
                    <br>Bangsue, Bangkok 10800, Thailand
                    <br />
                    <br />
                    Tel : 66 2586-2472-3, 5862371-2<br />
                    Fax : 66 2586-5224<br />
                    E-mail : sys@syssteel.com<br />
                </h4>
            </div>
        </div>
        <div class="auth-side-form">
            <div-- class=" auth-content">
                <img src="~/vendor/images/sys-logo.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
                <h3 class="mb-4 f-w-400">E-Ordering System</h3>
                <div class="form-group mb-3">
                    <label class="floating-label" for="Username">Username</label>
                    <input type="text" class="form-control" id="Username" placeholder="">
                </div>
                <div class="form-group mb-4">
                    <label class="floating-label" for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="">
                </div>
                <div class="custom-control custom-checkbox text-left mb-4 mt-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Save credentials.</label>
                </div>
                <button id="btnLogin" onclick="window.location.href='/favorite';" class="btn btn-block btn-primary mb-4">Login</button>
                <!--div class="text-center">
                    <div class="saprator my-4"><span>OR</span></div>
                    <button class="btn text-white bg-facebook mb-2 mr-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-facebook-f"></i></button>
                    <button class="btn text-white bg-googleplus mb-2 mr-2 wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-google-plus-g"></i></button>
                    <button class="btn text-white bg-twitter mb-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-twitter"></i></button>
                    <p class="mb-2 mt-4 text-muted">Forgot password? <a href="auth-reset-password-img-side.html" class="f-w-400">Reset</a></p>
                    <p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup-img-side.html" class="f-w-400">Signup</a></p>
                </div>
            </div-->
        </div>
    </div>
</div>